<div id="map" style='width:800px; height:500px;'></div>
<script type="text/javascript">
markers = [];

image = '/assets/img/marker.png';
data_markers = <%= @latLongs.to_json.html_safe %>;
 function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 30.3753, lng: 69.3451},
          zoom: 7
        });


      var myLatLng = {lat: 30.3753, lng: 69.3451};
      latLongArr =  data_markers;
      length = latLongArr.length;
      image = '/assets/img/marker.png';
      for(var i = 0; i< latLongArr.length; i++){
        var marker = new google.maps.Marker({
          position: latLongArr[i],
          map: map,
          icon: image
        });
        markers.push(marker);
      }
      


        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      
      }


</script>

  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYhEJTxTOUKtbV8FgPMBPmNG8CWEsuh04
        &libraries=visualization&callback=initMap" async defer></script>