  <div class="col-md-3" style="border-right: 1px solid grey;">
               <div class="row">
                  <div class="col-md-12 form-group">
                    <div class="col-md-6">
                      <label>District</label>
                    </div>
                    <div class="col-md-6">
                      <%= select_tag 'district',  content_tag(:option,'No Filter',:value=>"") + options_from_collection_for_select(District.all,"id","name"),class: "form-control filter_option", required: "", id: "district4" %>
                    </div>
                  </div>

                  <div class="col-md-12 form-group">
                    <div class="col-md-6">
                      <label>Tehsil</label>
                    </div>
                    <div class="col-md-6">
                      <%= select_tag 'tehsil',  content_tag(:option,'No Filter',:value=>"") + options_from_collection_for_select(Tehsil.all,"id","name"),class: "form-control filter_option", required: "", id: 'tehsil4' %>
                    </div>
                  </div>

                     <div class="col-md-12 form-group">
                    <div class="col-md-6">
                      <label>SHNS</label>
                    </div>
                    <div class="col-md-6">
                      <%= select_tag 'shns',  content_tag(:option,'No Filter',:value=>"") + options_from_collection_for_select(Admin.load_all_but_super_admin,"id","name"),class: "form-control filter_option", required: "", id: 'shns4' %>
                    </div>
                  </div>  


                  <div class="col-sm-12 form-group">
                    <div class=" form-group-default required" aria-required="true">
                    <label>Select Range</label>
                      <input type="text" name="range" id="range4" class="pull-right filter_option" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%"/>
                  </div>

               </div>
               
          
               </div>
               <div class="col-md-8 col-md-offset-2">
                   <input type="submit" class="btn btn-primary btn-cons b" value="Submit" id="submit_data4" />
                </div>
               
            </div>

            <script type="text/javascript">
                $(function() {

              var start = moment().subtract(29, 'days');
              var end = moment();

              function cb(start, end) {
                  $('#reportrange_students span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
              }

              $('#range4').daterangepicker({
                  startDate: start,
                  endDate: end,
                  multidate: 7,
                  ranges: {
                     'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                     'Previous week (till 7 days ago)': [moment().subtract(13, 'days'), moment().subtract(6,'days')]
                  }
              }, cb);

              cb(start, end);

               $('#timepicker_start1').timepicker().on('show.timepicker', function(e) {
            var widget = $('.bootstrap-timepicker-widget');
            widget.find('.glyphicon-chevron-up').removeClass().addClass('pg-arrow_maximize');
            widget.find('.glyphicon-chevron-down').removeClass().addClass('pg-arrow_minimize');
        });


         $('#timepicker_end1').timepicker().on('show.timepicker', function(e) {
            var widget = $('.bootstrap-timepicker-widget');
            widget.find('.glyphicon-chevron-up').removeClass().addClass('pg-arrow_maximize');
            widget.find('.glyphicon-chevron-down').removeClass().addClass('pg-arrow_minimize');
        });
              
  
         $('#district4').change(function() {
          $.ajax({
             url: "/admin/update_tehsils", // this will be routed
             type: 'GET',
             data: {
               district_id: $("#district4").val()
             },
             async: true,
             dataType: "json",
             error: function(XMLHttpRequest, errorTextStatus, error){
                        alert("Failed: "+ errorTextStatus+" ;"+error);
                    },
             success: function(data){
                // here we iterate the json result
                document.getElementById('tehsil4').innerHTML = "";

                for(var i in data)
                {
                  var id = data[i].id;
                  var title = data[i].name;
                  $("#tehsil4").append(new Option(title, id));
                }        
                $('#tehsil4').trigger("change");
             }
           });
        });

         $('#tehsil4').change(function() {
          $.ajax({
             url: "/admin/update_shns", // this will be routed
             type: 'GET',
             data: {
               tehsil_id: $("#tehsil4").val()
             },
             async: true,
             dataType: "json",
             error: function(XMLHttpRequest, errorTextStatus, error){
                        alert("Failed: "+ errorTextStatus+" ;"+error);
                    },
             success: function(data){
                // here we iterate the json result
                document.getElementById('shns4').innerHTML = "";

                for(var i in data)
                {
                  var id = data[i].id;
                  var title = data[i].username;
                  $("#shns4").append(new Option(title, id));
                }        

             }
           });
        });
          });

       

        </script>