<!-- START COPYRIGHT -->
<div class="container-fluid container-fixed-lg footer">
  <div class="copyright sm-text-center">
    <p class="small no-margin pull-left sm-pull-reset">
      <span class="hint-text">Copyright &copy; 2017 </span>
      <span class="font-montserrat">Reporting</span>.
      <span class="hint-text">All rights reserved. </span>
    </p>
    <div class="clearfix"></div>
  </div>
</div>
<!-- END COPYRIGHT -->