<div class="row">
  
<div class="col-md-10 col-md-offset-1">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <h2>Council Meeting</h2>
      </div>
      <div class="panel-body">

        <div class="table-responsive">
          <div id="detailedTable_wrapper" class="dataTables_wrapper form-inline no-footer"><table class="table table-hover table-condensed table-detailed dataTable no-footer" id="detailedTable" role="grid">
            <thead>
              <tr role="row">
              <th style="width:45%" rowspan="1" colspan="1">Indicator</th>
              <th style="width:20%" rowspan="1" colspan="1">Value</th>
             

              </tr>
            </thead>
            <tbody>
              
              





            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">School Environment</td>
                <td class="v-align-middle semi-bold"><%= @cm.school_env %> </td>
                
            </tr>

              <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Canteen</td>
                <td class="v-align-middle semi-bold"><%= @cm.school_canteen %> </td>
                
            </tr>

            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Epidamic Disease Awareness</td>
                <td class="v-align-middle semi-bold"><%= @cm.epidamic_disease_avr %> </td>
                
            </tr>
              
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Hygiene</td>
                <td class="v-align-middle semi-bold"><%= @cm.hygiene %> </td>
                
            </tr>
              
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Meeting Date</td>
                <td class="v-align-middle semi-bold"><%= @cm.date_of_meeting.strftime("%m/%d/%Y") %> </td>
                
            </tr>
              
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Teacher Orientation On health Topics</td>
                <td class="v-align-middle semi-bold"><%= @cm.teacher_orientation_health_topics %> </td>
                
            </tr>
        
            


              </tbody>
          </table></div>
        </div>
      </div>
    </div>
    <!-- END PANEL -->
  </div>
</div>  
