<div class="row">
  
<div class="col-md-10 col-md-offset-1">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <h2>Council Meetings</h2>
      </div>
      <div class="panel-body">

        <div class="table-responsive">
          <div id="detailedTable_wrapper" class="dataTables_wrapper form-inline no-footer"><table class="table table-hover table-condensed table-detailed dataTable no-footer" id="detailedTable" role="grid">
            <thead>
              <tr role="row">
              <th style="width:45%" rowspan="1" colspan="1">Meeting Date</th>

              </tr>
            </thead>
            <tbody>
              
              
            
              <% @council_meetings.each do |council_meeting| %>
              <tr role="row" class="odd">
                <td class="v-align-middle semi-bold">
              <%= link_to admin_council_meetings_details_path(e: council_meeting.id) do %>

              <%= council_meeting.date_of_meeting.strftime("%m/%d/%Y") %>
              
              <% end %>
              </td>
                

              </tr>
            <% end %>
              </tbody>
          </table></div>
        </div>
      </div>
    </div>
    <!-- END PANEL -->
  </div>
</div>  
