<div class="row">
  
<div class="col-md-10 col-md-offset-1">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <div class="panel-title"> <h1> <%= !params[:division].present? ? "All Districts" : "Districts in #{@division.name}" %></h1>
        </div>
      </div>
      <div class="panel-body">

        <%= form_tag admin_manage_districts_path , :multipart => true ,role: "form",method: :get, novalidate: "novalidate", autocomplete: "off", id: "form-personal" do %>

             
              <div class="row">
                  
                <div class="col-sm-3">
                <div class="form-group form-group-default " >
                  <label>Select Division</label>
                    <%= select_tag 'division',  content_tag(:option,'No Filter',:value=>"") +options_from_collection_for_select(Division.all,"id","name", params[:division]),class: "form-control", required: "" %>
                </div>
              </div>
            

              </div>
              <div class="clearfix"></div>
              <button class="btn btn-primary" type="submit">Filter</button>
              <%= link_to "Clear Filter", admin_manage_districts_path, class: "btn btn-primary pull-right" %>
            <% end %>
        <div class="table-responsive">
          <div id="detailedTable_wrapper" class="dataTables_wrapper form-inline no-footer"><table class="table table-hover table-condensed table-detailed dataTable no-footer" id="detailedTable" role="grid">
            <thead>
              <tr role="row">
              <th style="width:45%" rowspan="1" colspan="1">Name</th>
              <th style="width:20%" rowspan="1" colspan="1">Division</th>
              <th style="width:20%" rowspan="1" colspan="1">Tehsils</th>
              <th style="width:20%" rowspan="1" colspan="1">UCs</th>
              <th style="width:20%" rowspan="1" colspan="1">Schools</th>
              <th style="width:10%" rowspan="1" colspan="1">Edit </th>
              <th style="width:10%" rowspan="1" colspan="1">Delete </th>

              </tr>
            </thead>
            <tbody>
              
              
            <tr role="row" class="odd">
              <% @districts.each do |district| %>
                <td class="v-align-middle semi-bold"><%= district.name %></td>
                <td class="v-align-middle semi-bold"><%= district.division_name %></td>
                <td class="v-align-middle">
                       <%= link_to admin_manage_tehsils_path(dis: district.id) do %>
                          <%= district.tehsils_count %>
                       <% end %>
                    </td>
                    <td class="v-align-middle">
                       <%= link_to admin_manage_ucs_path(dis: district.id) do %>
                          <%= district.ucs_count  %>
                       <% end %>
                    </td>

                    <td class="v-align-middle">
                       <%= link_to admin_manage_schools_path(dis: district.id) do %>
                          <%= district.schools_count %>
                       <% end %>
                    </td>
                <td class="v-align-middle"><%= link_to '<i class="fa fa-wrench"></i>'.html_safe , admin_edit_district_path(dis: district.id), remote: true %></td>
                <td class="v-align-middle"><%= link_to '<i class="fa fa-trash"></i>'.html_safe , admin_delete_district_path(dis_id: district.id) %></td>
                
              </tr>
            <% end %>
              </tbody>
          </table></div>
        </div>
      </div>
    </div>
    <!-- END PANEL -->
  </div>
</div>  
