<div class="row">
  
<div class="col-md-8 col-md-offset-2">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <div class="panel-title"><h1>All Divisions</h1>
        </div>
      </div>
      <div class="panel-body">
      
        <div class="table-responsive">
          <div id="detailedTable_wrapper" class="dataTables_wrapper form-inline no-footer"><table class="table table-hover table-condensed table-detailed dataTable no-footer" id="detailedTable" role="grid">
            <thead>
              <tr role="row">
              <th style="width:50%" rowspan="1" colspan="1">Division Name</th>
              <th style="width:20%" rowspan="1" colspan="1">Districts</th>
              <th style="width:20%" rowspan="1" colspan="1">Tehsils</th>
              <th style="width:20%" rowspan="1" colspan="1">UCs</th>
              <th style="width:20%" rowspan="1" colspan="1">Schools</th>
              <th style="width:20%" rowspan="1" colspan="1">Edit </th>
              <th style="width:20%" rowspan="1" colspan="1">Delete </th>

              </tr>
            </thead>
            <tbody>
              <% @divisions.each do |division| %>
                <tr role="row" class="odd">
                    <td class="v-align-middle semi-bold"><%= division.name %></td>
                    <td class="v-align-middle">
                       <%= link_to admin_manage_districts_path(division: division.id) do %>
                          <%= division.districts_count %>
                       <% end %>
                    </td>
                    <td class="v-align-middle">
                       <%= link_to admin_manage_tehsils_path(division: division.id) do %>
                          <%= division.tehsils_count %>
                       <% end %>
                    </td>
                    <td class="v-align-middle">
                       <%= link_to admin_manage_ucs_path(division: division.id) do %>
                          <%= division.ucs_count %>
                       <% end %>
                    </td>

                    <td class="v-align-middle">
                       <%= link_to admin_manage_schools_path(division: division.id) do %>
                          <%= division.schools_count %>
                       <% end %>
                    </td>
                    <td class="v-align-middle"><%= link_to '<i class="fa fa-wrench"></i>'.html_safe , admin_edit_division_path(divi_id: division.id), remote: true %></td>
                    <td class="v-align-middle"><%= link_to '<i class="fa fa-trash"></i>'.html_safe , admin_delete_division_path(divi_id: division.id) %></td>
                  
                  </tr>
                <% end %>
              </tbody>
          </table>

           <div class="apple_pagination">
              <div class="page_info">
                <%= page_entries_info @divisions %>
              </div>
              <%= will_paginate @divisions, :container => false %>
            </div>

            </div>
        </div>
      </div>
    </div>
    <!-- END PANEL -->
  </div>
</div>  
