<%= form_tag admin_update_division_path(div: @div.id) , :multipart => true ,role: "form",method: :post, novalidate: "novalidate", autocomplete: "off", id: "form-personal" do %>

            <% if flash[:alert].present? %>
              <div class="row clearfix">

                <div class="alert <%= flash[:alert_class] %>" role="alert">
                  <button class="close" data-dismiss="alert"></button>
                  <strong><%= flash[:alert_start] %>: </strong><%= flash[:alert] %>
                </div>
              </div>

            <% end %>
            <div class="row clearfix">
              <div class="col-sm-12">
                <div class="form-group form-group-default required" aria-required="true">
                  <label>Division name</label>
                  <input type="text" class="form-control" name="name" required="" aria-required="true" value="<%= @div.name %>">
                </div>
              </div>
              </div>
            
            <div class="clearfix"></div>
            <button class="btn btn-primary" type="submit">Updated Division</button>
          <% end %>
          