<div class="row">
  
<div class="col-md-8 col-md-offset-2">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <div class="panel-title">List of Divisions
        </div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <div id="detailedTable_wrapper" class="dataTables_wrapper form-inline no-footer"><table class="table table-hover table-condensed table-detailed dataTable no-footer" id="detailedTable" role="grid">
            <thead>
              <tr role="row">
              <th style="width:50%" rowspan="1" colspan="1">Name</th>
              <th style="width:50%" rowspan="1" colspan="1">Edits</th>
              <th style="width:50%" rowspan="1" colspan="1">New Entries</th>
              </tr>
            </thead>
            <tbody>
              
              
            <tr role="row" class="odd">
                <td class="v-align-middle semi-bold">Division 1</td>
                <td class="v-align-middle semi-bold">10</td>
                <td class="v-align-middle">100</td>
              </tr>

               <tr role="row" class="odd">
                <td class="v-align-middle semi-bold">Division 2</td>
                <td class="v-align-middle semi-bold">104</td>
                <td class="v-align-middle">500</td>
              </tr>
              </tbody>
          </table></div>
        </div>
      </div>
    </div>
    <!-- END PANEL -->
  </div>
</div>  
