<div class="modal fade slide-up disable-scroll" id="modalSlideUp_remote" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog ">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <div class="modal-header clearfix text-left">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
          </button>
          <h5>Update <span class="semi-bold">Division</span></h5>
        </div>
        <div class="modal-body">
          <%= form_tag admin_update_division_path(div: @div.id) , :multipart => true ,role: "form",method: :post, novalidate: "novalidate", autocomplete: "off", id: "form-personal" do %>

            <% if flash[:alert].present? %>
              <div class="row clearfix">

                <div class="alert <%= flash[:alert_class] %>" role="alert">
                  <button class="close" data-dismiss="alert"></button>
                  <strong><%= flash[:alert_start] %>: </strong><%= flash[:alert] %>
                </div>
              </div>

            <% end %>
            <div class="row clearfix">
              <div class="col-sm-12">
                <div class="form-group form-group-default required" aria-required="true">
                  <label>Division name</label>
                  <input type="text" class="form-control" name="name" required="" aria-required="true" value="<%= @div.name %>">
                </div>
              </div>
              </div>
            
            <div class="clearfix"></div>
            <button class="btn btn-primary" type="submit">Updated Division</button>
          <% end %>
          
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
</div>
