<div class="modal fade slide-up disable-scroll" id="modalSlideUp_remote" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog ">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <div class="modal-header clearfix text-left">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
          </button>
          <h5>Update <span class="semi-bold">District</span></h5>
        </div>
        <div class="modal-body">
             <%= form_tag admin_update_staff_path(staff_id: @staff.id), :multipart => true ,role: "form",method: :post, novalidate: "novalidate", autocomplete: "off", id: "form-personal" do %>

      <% if flash[:alert].present? %>
        <div class="row clearfix">

          <div class="alert <%= flash[:alert_class] %>" role="alert">
            <button class="close" data-dismiss="alert"></button>
            <strong><%= flash[:alert_start] %>: </strong><%= flash[:alert] %>
          </div>
        </div>

      <% end %>


      
      <div class="row clearfix">
        <div class="col-sm-12">
          <div class="form-group form-group-default " >
            <label>First Name</label>
            <input type="text" class="form-control" name="first_name" required="" aria-required="true" value="<%= @staff.first_name %>" >
          </div>
        </div>
        </div> 
      
      <div class="row clearfix">
        <div class="col-sm-12">
          <div class="form-group form-group-default " >
            <label>Last Name</label>
            <input type="text" class="form-control" name="last_name" required="" aria-required="true" value="<%= @staff.last_name %>">
          </div>
        </div>
      </div> 
      
      <div class="row clearfix">
        <div class="col-sm-12">
          <div class="form-group form-group-default required" aria-required="true">
            <label>Username</label>
            <input type="text" class="form-control" name="username" required="" aria-required="true" value="<%= @staff.email %>" >
          </div>
        </div>
      </div> 

      <div class="row clearfix">
        <div class="col-sm-12">
          <div class="form-group form-group-default required" aria-required="true">
            <label>Password</label>
            <input type="text" class="form-control" name="password" required="" aria-required="true" >
          </div>
        </div>
      </div> 

      <div class="row clearfix" id="district">
          <div class="col-sm-12">
          <div class="form-group form-group-default " >
            <label>Select District</label>
              <%= select_tag 'district',  options_from_collection_for_select(District.all,"id","name", @staff.district_id),class: "form-control", required: "" %>
          </div>
        </div>
        </div>
      
      <div class="row clearfix" id="tehsil">
          <div class="col-sm-12">
          <div class="form-group form-group-default" >
            <label>Select Tehsil</label>
              <%= select_tag 'tehsil',  options_from_collection_for_select(Tehsil.all,"id","name_with_district",  @staff.tehsil_id),class: "form-control", required: "" %>
          </div>
        </div>
        </div>
      
      <div class="clearfix"></div>
      <button class="btn btn-primary" type="submit">Update Member</button>
    <% end %>

          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
</div>

<script type="text/javascript">
  
$(document).ready(function(){
  $("#district").hide();

  $("#role").change(function(){
    if($(this).val() > 2){
          $("#tehsil").show();
          $("#district").hide();
      }
    else{
          $("#district").show();
          $("#tehsil").hide();
        }

  });
});

</script>