<div class="row">
  
<div class="col-md-10 col-md-offset-1">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <h2>Environment Assessments</h2>
      </div>
      <div class="panel-body">

        <div class="table-responsive">
          <div id="detailedTable_wrapper" class="dataTables_wrapper form-inline no-footer"><table class="table table-hover table-condensed table-detailed dataTable no-footer" id="detailedTable" role="grid">
            <thead>
              <tr role="row">
              <th style="width:45%" rowspan="1" colspan="1">Assessment Date</th>
              <th style="width:20%" rowspan="1" colspan="1">Assesment Shns</th>
             

              </tr>
            </thead>
            <tbody>
              
              
            
              <% @env_assesments.each do |env| %>
              <tr role="row" class="odd">
                <td class="v-align-middle semi-bold">
              <%= link_to admin_env_assesment_details_path(e: env.id) do %>

              <%= env.created_at.strftime("%m/%d/%Y") %>
              <% end %>
                
              </td>
                <td class="v-align-middle semi-bold"><%= "#{env.agent_name}" %></td>
              </tr>
            <% end %>
              </tbody>
          </table></div>
        </div>
      </div>
    </div>
    <!-- END PANEL -->
  </div>
</div>  
