<div class="row">
  
<div class="col-md-10 col-md-offset-1">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <h2>Environment Assessment</h2>
      </div>
      <div class="panel-body">

        <div class="table-responsive">
          <div id="detailedTable_wrapper" class="dataTables_wrapper form-inline no-footer"><table class="table table-hover table-condensed table-detailed dataTable no-footer" id="detailedTable" role="grid">
            <thead>
              <tr role="row">
              <th style="width:45%" rowspan="1" colspan="1">Check</th>
              <th style="width:20%" rowspan="1" colspan="1">Results</th>
             

              </tr>
            </thead>
            <tbody>
              
              
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Boundry Wall Gate</td>
                <td class="v-align-middle semi-bold"><%= @env.boundy_wall_gate %> </td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Electricity </td>
                <td class="v-align-middle semi-bold"><%= @env.electricity %> </td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Playground Available</td>
                <td class="v-align-middle semi-bold"><%= @env.playground %> </td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Clean Class toilets</td>
                <td class="v-align-middle semi-bold"><%= @env.clean_class_toilet %> </td>
                
            </tr>

             <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Clean floor</td>
                <td class="v-align-middle semi-bold"><%= @env.clean_floors %> </td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Janitors </td>
                <td class="v-align-middle semi-bold"><%= @env.janitors %> </td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Ventilation</td>
                <td class="v-align-middle semi-bold"><%= @env.ventilation %> </td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Table and chairs</td>
                <td class="v-align-middle semi-bold"><%= @env.tables_chairs %> </td>
                
            </tr><tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Fans</td>
                <td class="v-align-middle semi-bold"><%= @env.fans %></td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Fountains</td>
                <td class="v-align-middle semi-bold"><%= @env.fountains %></td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Clean Drinking Water</td>
                <td class="v-align-middle semi-bold"><%= @env.clean_water %></td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Adequette Supply of water</td>
                <td class="v-align-middle semi-bold"><%= @env.supply %></td>
                
            </tr>

             <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Functioning Toilets</td>
                <td class="v-align-middle semi-bold"><%= @env.functional_toilets %></td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Number of toilets</td>
                <td class="v-align-middle semi-bold"><%= @env.toilet_numbers %></td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Soap water in toilets</td>
                <td class="v-align-middle semi-bold"><%= @env.soap_water_toilets %></td>
                
            </tr>
          
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Functioning Drainage</td>
                <td class="v-align-middle semi-bold"><%= @env.drainage_functioning %></td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Waste Managment</td>
                <td class="v-align-middle semi-bold"><%= @env.waste_managment %></td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Frequencey of Waste management activity</td>
                <td class="v-align-middle semi-bold"><%= @env.waste_managemnt_freq %></td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Condition of building</td>
                <td class="v-align-middle semi-bold"><%= @env.condition_of_building %></td>
                
            </tr>

             <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Cleanliness of school Environment</td>
                <td class="v-align-middle semi-bold"><%= @env.cleanliness_of_school_environment %></td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Class Room Space Adequacy</td>
                <td class="v-align-middle semi-bold"><%= @env.class_room_space_adequacy %></td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Safe drinking water</td>
                <td class="v-align-middle semi-bold"><%= @env.availability_of_safe_drinking_water %></td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Sanitary of toilets</td>
                <td class="v-align-middle semi-bold"><%= @env.sanitary_condition_of_toilets %></td>
                
            </tr>
            
             <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Drainage Condition</td>
                <td class="v-align-middle semi-bold"><%= @env.drainage_condiiton %></td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Waste managment</td>
                <td class="v-align-middle semi-bold"><%= @env.waste_management %></td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Canteen and Food Quality</td>
                <td class="v-align-middle semi-bold"><%= @env.cantain_and_food_quality %></td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Roof Status</td>
                <td class="v-align-middle semi-bold"><%= @env.roof_status %></td>
                
            </tr>
            
             <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Running water & Soap Containers</td>
                <td class="v-align-middle semi-bold"><%= @env.running_water %></td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Drainage System</td>
                <td class="v-align-middle semi-bold"><%= @env.drainage_system %></td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Food Quality</td>
                <td class="v-align-middle semi-bold"><%= @env.food_quality %></td>
                
            </tr>

             <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Support Person Designation</td>
                <td class="v-align-middle semi-bold"><%= @env.support_person_designtion %></td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Support Person Name</td>
                <td class="v-align-middle semi-bold"><%= @env.support_person_name %></td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Physcal Activity Provisions</td>
                <td class="v-align-middle semi-bold"><%= @env.physical_activity_provisions %></td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Stagnent Water</td>
                <td class="v-align-middle semi-bold"><%= @env.stagnent_water %></td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Stagnent Water Removal Plan</td>
                <td class="v-align-middle semi-bold"><%= @env.stagnent_water_removal_plan %></td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Dates</td>
                <td class="v-align-middle semi-bold"><%= @env.dates %></td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Boiled Sweet Potato/td>
                <td class="v-align-middle semi-bold"><%= @env.boiled_sweet_potato %></td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Boiled Potato</td>
                <td class="v-align-middle semi-bold"><%= @env.boiled_potato %></td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Boiled Roasted Corn</td>
                <td class="v-align-middle semi-bold"><%= @env.boiled_roasted_corn %></td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Home cooked meals</td>
                <td class="v-align-middle semi-bold"><%= @env.home_cooked_meals %></td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Clean Canteen</td>
                <td class="v-align-middle semi-bold"><%= @env.clean_canteen %></td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Standards Displayed</td>
                <td class="v-align-middle semi-bold"><%= @env.standards_displayed %></td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Fitness Food handlers</td>
                <td class="v-align-middle semi-bold"><%= @env.fitness_food_handlers %></td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Comments</td>
                <td class="v-align-middle semi-bold"><%= @env.comments %></td>
                
            </tr>

            


              </tbody>
          </table></div>
        </div>
      </div>
    </div>
    <!-- END PANEL -->
  </div>
</div>  
