 <div class="row">
<div class="col-md-8 col-md-offset-2">
<h1>Export Schools Data</h1>
<!-- START PANEL -->
<div class="panel panel-transparent">
  <div class="panel-body">

    <%= form_tag reports_schools_path , :multipart => true ,role: "form",method: :get, novalidate: "novalidate", autocomplete: "off", id: "form-personal" do %>

 
      <% if flash[:alert].present? %>
        <div class="row clearfix">

          <div class="alert <%= flash[:alert_class] %>" role="alert">
            <button class="close" data-dismiss="alert"></button>
            <strong><%= flash[:alert_start] %>: </strong><%= flash[:alert] %>
          </div>
        </div>

      <% end %>
        <div class="row clearfix">
          <div class="col-sm-12">
          <div class="form-group form-group-default required" aria-required="true">
            <label>Select Destrict</label>
              <%= select_tag 'district', content_tag(:option,'Please select District',:value=>"") + options_from_collection_for_select(@districts,"id","name_with_division"),class: "form-control", required: "" , id: "district_select2" %>
          </div>
        </div>
        </div>

           <div class="row clearfix">
          <div class="col-sm-12">
          <div class="form-group form-group-default required" aria-required="true">
            <label>Select Tehsil</label>
              <%= select_tag 'tehsil',  content_tag(:option,'Please Select Tehsil',:value=>"")+ options_from_collection_for_select(@tehsils,"id","name_with_district"),class: "form-control", required: "" , id: "tehsil_select2" %>
          </div>
        </div>
        </div>

        <div class="row clearfix">
          <div class="col-sm-12">
          <div class="form-group form-group-default required" aria-required="true">
            <label>Select School</label>
              <%= select_tag 'school',  content_tag(:option,'Please Select School',:value=>"")+ options_from_collection_for_select(@schools,"id","name"),class: "form-control", required: "" , id: "school_select2" %>
          </div>
        </div>
        </div>     

        <div class="row clearfix">
          <div class="col-sm-12">
          <div class="form-group form-group-default required" aria-required="true">
              <label>Select Range</label>
                <input type="text" name="range" id="reportrange_schools" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
              </input>
        </div>
        </div>        
        <div class="row clearfix">
          <div class="form-group  required school" >
          <div class="col-sm-12">
   
            <label>Select Attributes</label>
            </div>
          
          <div class="col-sm-3">
   
              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="name" id="school_name" name="cols[]">
                <label for="school_name">Name</label>
              </div>
  
              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="lat" id="school_lat" name="cols[]">
                <label for="school_lat">Latitude</label>
              </div>

              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="long" id="school_long" name="cols[]">
                <label for="school_long">Longitude</label>
              </div>
            
              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="last_visited" id="school_last_visited" name="cols[]">
                <label for="school_last_visited">Last Visited</label>
              </div>
        </div>

         <div class="col-sm-3">             

              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="boundy_wall_gate" id="school_boundy_wall_gate" name="cols_env[]">
                <label for="school_boundy_wall_gate">Boundry Wall/ Gate</label>
              </div>
  
              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="electricity" id="school_electricity" name="cols_env[]">
                <label for="school_electricity">Electricity</label>
              </div>
              
              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="playground" id="school_playground" name="cols_env[]">
                <label for="school_playground">Playground</label>
              </div>

              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="clean_class_toilet" id="school_clean_class_toilet" name="cols_env[]">
                <label for="school_clean_class_toilet">Clean Classes/ Toilets</label>
              </div>
              

              
          </div>

       
          <div class="col-sm-3">  

              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="clean_floors" id="school_clean_floors" name="cols_env[]">
                <label for="school_clean_floors">Clean Floors</label>
              </div>
           
              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="janitors" id="school_janitors" name="cols_env[]">
                <label for="school_janitors">Janitors</label>
              </div>
  
              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="ventilation" id="school_ventilation" name="cols_env[]">
                <label for="school_ventilation">Ventilation</label>
              </div>
              
              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="tables_chairs" id="school_tables_chairs" name="cols_env[]">
                <label for="school_tables_chairs">Tables/ Chairs</label>
              </div>

        
              </div>

         <div class="col-sm-3">             
             <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="fans" id="school_fans" name="cols_env[]">
                <label for="school_fans">Fans</label>
              </div>

              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="fountains" id="school_fountains" name="cols_env[]">
                <label for="school_fountains">Fountains</label>
              </div>

                       
              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="clean_water" id="school_clean_water" name="cols_env[]">
                <label for="school_clean_water">Clean Water</label>
              </div>
  
              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="supply" id="school_supply" name="cols_env[]">
                <label for="school_supply">Adequate Supply</label>
              </div>
           
        </div>

         <div class="col-sm-3">   

              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="functional_toilets" id="school_functional_toilets" name="cols_env[]">
                <label for="school_functional_toilets">Functional Toilets</label>
              </div>          

              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="toilet_numbers" id="school_toilet_numbers" name="cols_env[]">
                <label for="school_toilet_numbers">Number of toilets</label>
              </div>

              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="soap_water_toilets" id="school_soap_water_toilets" name="cols_env[]">
                <label for="school_soap_water_toilets">Water & Soap In Toilets</label>
              </div>
              

              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="drainage_functioning" id="school_drainage_functioning" name="cols_env[]">
                <label for="school_drainage_functioning">Functioning Drainage?</label>
              </div>
              
          </div>

          <div class="col-sm-3">             
          
              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="waste_managment" id="school_waste_managment" name="cols_env[]">
                <label for="school_waste_managment">Waste Managment</label>
              </div>

              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="waste_managemnt_freq" id="school_waste_managemnt_freq" name="cols_env[]">
                <label for="school_waste_managemnt_freq">Waste Man Freq.</label>
              </div>
                    
              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="condition_of_building" id="school_condition_of_building" name="cols_env[]">
                <label for="school_condition_of_building">Condiiton Of Building</label>
              </div>
                    
              
              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="cleanliness_of_school_environment" id="school_cleanliness_of_school_environment" name="cols_env[]">
                <label for="school_cleanliness_of_school_environment">Cleanliness Of School Environment</label>
              </div>
              </div>
              <div class="col-sm-3">     
               
              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="class_room_space_adequacy" id="school_class_room_space_adequacy" name="cols_env[]">
                <label for="school_class_room_space_adequacy">Classroom Space Adequacy</label>
              </div>
                    
                <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="roof_status" id="school_roof_status" name="cols_env[]">
                <label for="school_roof_status">Roof Status</label>
              </div>
                    
               <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="running_water" id="school_running_water" name="cols_env[]">
                <label for="school_running_water">Running Water</label>
              </div>

               <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="food_quality" id="school_food_quality" name="cols_env[]">
                <label for="school_food_quality">Food Quality</label>
              </div>
              </div>
              <div class="col-sm-3">     
            
              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="lights_present" id="school_lights_present" name="cols_env[]">
                <label for="school_lights_present">Presence of Lights</label>
              </div>
                    
               
              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="physical_activity_provisions" id="school_physical_activity_provisions" name="cols_env[]">
                <label for="school_physical_activity_provisions">Physical activity provisions</label>
              </div>
                    
              

              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="soap_container" id="school_soap_container" name="cols_env[]">
                <label for="school_soap_container">Soap Container</label>
              </div>
                    
              
              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="stagnent_water" id="school_stagnent_water" name="cols_env[]">
                <label for="school_stagnent_water">Stagnent Water</label>
              </div>
                                   
              </div>
              <div class="col-sm-3">     
               <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="stagnent_water_removal_plan" id="school_stagnent_water_removal_plan" name="cols_env[]">
                <label for="school_stagnent_water_removal_plan">Stagnent Water Removal Plan</label>
              </div>
                     
              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="dates" id="school_dates" name="cols_env[]">
                <label for="school_dates">Dates</label>
              </div>
                    
              
                              
               <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="boiled_sweet_potato" id="school_boiled_sweet_potato" name="cols_env[]">
                <label for="school_boiled_sweet_potato">Boild Sweet Potato</label>
              </div>
                              
               <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="boiled_potato" id="school_boiled_potato" name="cols_env[]">
                <label for="school_boiled_potato">Boiled Potato</label>
              </div>
              </div>
              <div class="col-sm-3">     
                              
               <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="boiled_roasted_corn" id="school_boiled_roasted_corn" name="cols_env[]">
                <label for="school_boiled_roasted_corn">Boiled Roasted Corn</label>
              </div>
                              
               <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="home_cooked_meals" id="school_home_cooked_meals" name="cols_env[]">
                <label for="school_home_cooked_meals">Home Cooked Meals</label>
              </div>
                              
               <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="clean_canteen" id="school_clean_canteen" name="cols_env[]">
                <label for="school_clean_canteen">Clean Canteen</label>
              </div>
                              
               <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="standards_displayed" id="school_standards_displayed" name="cols_env[]">
                <label for="school_standards_displayed">Standards Displayed</label>
              </div>
              </div>
              <div class="col-sm-3">     
               <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="fitness_food_handlers" id="school_fitness_food_handlers" name="cols_env[]">
                <label for="school_fitness_food_handlers">Fitness Food Handlers</label>
              </div>
               
                    
              

              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="trauma_physical_injuries" id="school_trauma_physical_injuries" name="cols_health[]">
                <label for="school_trauma_physical_injuries">Trauma/Physical Injs.</label>
              </div> 
                   <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="bmi" id="school_bmi" name="cols_health[]">
                <label for="school_bmi">Bmi</label>
              </div>

          </div>

         <div class="col-sm-3">             

         
              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="anemia" id="school_anemia" name="cols_health[]">
                <label for="school_anemia">Anemia</label>
              </div>

              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="physical_deformities" id="school_physical_deforties" name="cols_health[]">
                <label for="school_physical_deforties">Physical Deformities</label>
              </div>
            
              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="hearing_problem" id="school_hearing_problem" name="cols_health[]">
                <label for="school_hearing_problem">Hearing Problem</label>
              </div> 
              
              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="ear_problem" id="school_ear_problem" name="cols_health[]">
                <label for="school_ear_problem">Ear Problem</label>
              </div> 

          </div>


         <div class="col-sm-3">             
    
            

              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="vision" id="school_vision" name="cols_health[]">
                <label for="school_vision">Vision</label>
              </div>

             <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="eye_problem" id="school_eye_problem" name="cols_health[]">
                <label for="school_eye_problem">Eye Problem</label>
              </div>

              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="respiratory_infection" id="school_respiratory_infection" name="cols_health[]">
                <label for="school_respiratory_infection">Respiratory Infection</label>
              </div>

              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="skin_problem" id="school_skin_problem" name="cols_health[]">
                <label for="school_skin_problem">Skin Problem</label>
              </div>
              </div>

         <div class="col-sm-3">             


              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="jaundice" id="school_jaundice" name="cols_health[]">
                <label for="school_jaundice">Jaundice</label>
              </div>

            <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="facial_puffiness" id="school_facial_puffiness" name="cols_health[]">
                <label for="school_facial_puffiness">Facial Puffiness</label>
              </div>
            <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="mental_dissability" id="school_mental_dissability" name="cols_health[]">
                <label for="school_mental_dissability">Mental Disability</label>
              </div>
            <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="ho_immunisation" id="school_ho_immunisation" name="cols_health[]">
                <label for="school_ho_immunisation">HO Immunisation</label>
              </div>
          
              </div>

         <div class="col-sm-3">          
           <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="ho_allergy" id="school_ho_allergy" name="cols_health[]">
                <label for="school_ho_allergy">HO Allergy</label>
              </div>   

            <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="dental_problem" id="school_dental_problem" name="cols_health[]">
                <label for="school_dental_problem">Dental Problem</label>
              </div>
            <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="body_nits" id="school_body_nits" name="cols_health[]">
                <label for="school_body_nits">Body nits</label>
              </div>

               <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="lice_in_hair" id="school_lice_in_hair" name="cols_health[]">
                <label for="school_lice_in_hair">Lice In Hair</label>
              </div>
            </div>
            <div class="col-sm-3">  
             <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="" id="school_check_all" >
                <label for="school_check_all">Select ALl</label>
              </div>
            

          </div>
          </div>
        </div>
        </div>

      <div class="clearfix"></div>
      <button class="btn btn-primary" type="submit">Export</button>
    <% end %>
  </div>
</div>
<!-- END PANEL -->
</div>
</div> 
<script type="text/javascript">
$(document).ready(function(){
    var URL = "/api/search_schools_for_select";
 var URL2 = "/api/search_districts_for_select";
 var URL3 = "/api/search_tehsil_for_select";
      $("#school_select2").select2({
        minimumInputLength: 2,
        tags: [],
        ajax: {
            url: URL,
            dataType: 'json',
            type: "GET",
            quietMillis: 50,
            data: function (data) {
                return {
                    query: data
                };
            },
            processResults: function (data) {
              console.log(data);
                return {

                    results: $.map(data, function (item) {
                        return {
                            text: item.name,
                            id: item.id
                        }
                    })
                };
            }
        }
  });

      $("#district_select2").select2({
        minimumInputLength: 2,
        tags: [],
        ajax: {
            url: URL2,
            dataType: 'json',
            type: "GET",
            quietMillis: 50,
            data: function (data) {
                return {
                    query: data
                };
            },
            processResults: function (data) {
              console.log(data);
                return {

                    results: $.map(data, function (item) {
                        return {
                            text: item.name,
                            id: item.id
                        }
                    })
                };
            }
        }
  });

      $("#tehsil_select2").select2({
        minimumInputLength: 2,
        tags: [],
        ajax: {
            url: URL3,
            dataType: 'json',
            type: "GET",
            quietMillis: 50,
            data: function (data) {
                return {
                    query: data
                };
            },
            processResults: function (data) {
              console.log(data);
                return {

                    results: $.map(data, function (item) {
                        return {
                            text: item.name,
                            id: item.id
                        }
                    })
                };
            }
        }
  });
});
</script>