 <div class="row">
<div class="col-md-8 col-md-offset-2">
<h1>Export Report</h1>
<!-- START PANEL -->
<div class="panel panel-transparent">
  <div class="panel-body">
  <%= form_tag reports_daily_school_visits_path , :multipart => true ,role: "form",method: :get, novalidate: "novalidate", autocomplete: "off", id: "form-personal" do %>

      <% if flash[:alert].present? %>
        <div class="row clearfix">

          <div class="alert <%= flash[:alert_class] %>" role="alert">
            <button class="close" data-dismiss="alert"></button>
            <strong><%= flash[:alert_start] %>: </strong><%= flash[:alert] %>
          </div>
        </div>

      <% end %>

        <div class="row clearfix">
          <div class="col-sm-12">
          <div class="form-group form-group-default required" aria-required="true">
            <label>Select Report Type</label>
              <%= select_tag 'report_type',  content_tag(:option,'School',:value=>"school") +  content_tag(:option,'Community',:value=>"community") ,class: "form-control", required: "", id: "report_type" %>
          </div>
        </div>
        </div>

        <div class="row clearfix">
          <div class="col-sm-12">
          <div class="form-group form-group-default required" aria-required="true">
            <label>Select District</label>
              <%= select_tag 'district', content_tag(:option,'Please select District',:value=>"") + options_from_collection_for_select(@districts,"id","name"),class: "form-control", required: "", id: "district" %>
          </div>
        </div>
        </div>

        <div class="row clearfix">
          <div class="col-sm-12">
          <div class="form-group form-group-default required" aria-required="true">
            <label>Select Tehsil</label>
              <%= select_tag 'tehsil',  content_tag(:option,'Please Select Tehsil',:value=>"")+ options_from_collection_for_select(@tehsils,"id","name"),class: "form-control", required: "", id: "tehsil" %>
          </div>
        </div>
        </div>

        <div class="row clearfix" id= "school">
          <div class="col-sm-12">
          <div class="form-group form-group-default required" aria-required="true">
            <label>Select School</label>
              <%= select_tag 'school',  content_tag(:option,'Please Select School',:value=>"")+ options_from_collection_for_select(@schools,"id","name"),class: "form-control", required: "", id: "school_select" %>
          </div>
        </div>
        </div>
        <div class="row clearfix">

        <div class="col-sm-12">
          <div class="form-group form-group-default required" aria-required="true">
          <label>Select Range</label>
            <input type="text" name="range" id="reportrange_students" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
              </input>
        </div>
        </div>      

         <div class="clearfix"></div>
      <button class="btn btn-primary" type="submit">Export</button>
    <% end %>
   
  </div>
</div>
<!-- END PANEL -->
</div>
</div> 
<script type="text/javascript">
  $("#report_type").on('change',function(){
    if($('#report_type').val() == "community"){
      $("#school").hide();
      }
      else{
        $("#school").show();
      }
    
  });
  $(document).ready(function(){
    var URL = "/api/search_schools_for_select";


      $("#school_select").select2({
              minimumInputLength: 2,
              tags: [],
              ajax: {
                  url: URL,
                  dataType: 'json',
                  type: "GET",
                  quietMillis: 50,
                  data: function (data) {
                      return {
                          query: data,
                          district_id: $("#district").val(),
                          tehsil_id: $("#tehsils").val(),
                      };
                  },
                  processResults: function (data) {
                    console.log(data);
                      return {

                          results: $.map(data, function (item) {
                              return {
                                  text: item.name,
                                  id: item.id
                              }
                          })
                      };
                  }
              }
        });

  });


   $('#district').change(function() {
        $.ajax({
           url: "/admin/update_tehsils", // this will be routed
           type: 'GET',
           data: {
             district_id: $("#district").val()
           },
           async: true,
           dataType: "json",
           error: function(XMLHttpRequest, errorTextStatus, error){
                      alert("Failed: "+ errorTextStatus+" ;"+error);
                  },
           success: function(data){
              // here we iterate the json result
              document.getElementById('tehsil').innerHTML = "";

              for(var i in data)
              {
                var id = data[i].id;
                var title = data[i].name;
                $("#tehsil").append(new Option(title, id));
              }        
              // $('#tehsil1').trigger("change");
           }
         });
      });

 $('#tehsil').change(function() {
        $.ajax({
           url: "/admin/update_schools", // this will be routed
           type: 'GET',
           data: {
             tehsil_id: $("#tehsil").val()
           },
           async: true,
           dataType: "json",
           error: function(XMLHttpRequest, errorTextStatus, error){
                      alert("Failed: "+ errorTextStatus+" ;"+error);
                  },
           success: function(data){
              // here we iterate the json result
              document.getElementById('school_select').innerHTML = "";

              for(var i in data)
              {
                var id = data[i].id;
                var title = data[i].name;
                $("#school_select").append(new Option(title, id));
              }        
              // $('#tehsil1').trigger("change");
           }
         });
      });



</script>