 <div class="row">
<div class="col-md-8 col-md-offset-2">
<h1>Export Student Data</h1>
<!-- START PANEL -->
<div class="panel panel-transparent">
  <div class="panel-body">

    <%= form_tag reports_students_path , :multipart => true ,role: "form",method: :get, novalidate: "novalidate", autocomplete: "off", id: "form-personal" do %>

      <% if flash[:alert].present? %>
        <div class="row clearfix">

          <div class="alert <%= flash[:alert_class] %>" role="alert">
            <button class="close" data-dismiss="alert"></button>
            <strong><%= flash[:alert_start] %>: </strong><%= flash[:alert] %>
          </div>
        </div>

      <% end %>
        <div class="row clearfix student">
          <div class="col-sm-12">
          <div class="form-group form-group-default required" aria-required="true">
            <label>Select Destrict</label>
              <%= select_tag 'district', content_tag(:option,'Please select District',:value=>"") + options_from_collection_for_select(@districts,"id","name_with_division"),class: "form-control", required: "", id: "district_select" %>
          </div>
        </div>
        </div>

           <div class="row clearfix">
          <div class="col-sm-12">
          <div class="form-group form-group-default required" aria-required="true">
            <label>Select Tehsil</label>
              <%= select_tag 'tehsil',  content_tag(:option,'Please Select Tehsil',:value=>"")+ options_from_collection_for_select(@tehsils,"id","name_with_district"),class: "form-control", required: "", id: "tehsil_select" %>
          </div>
        </div>
        </div>

        <div class="row clearfix">
          <div class="col-sm-12">
          <div class="form-group form-group-default required" aria-required="true">
            <label>Select School</label>
              <%= select_tag 'school',  content_tag(:option,'Please Select School',:value=>"")+ options_from_collection_for_select(@schools,"id","name"),class: "form-control", required: "", id: "school_select" %>
          </div>
        </div>
        </div>
        <div class="row clearfix">

        <div class="col-sm-12">
          <div class="form-group form-group-default required" aria-required="true">
          <label>Select Range</label>
            <input type="text" name="range" id="reportrange_students" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
              </input>
        </div>
        </div>        
        <div class="row clearfix">
          <div class="form-group required student" >
          
          <div class="col-sm-3">
            <label>Select Attributes</label>
             
              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="name" id="name" name="cols[]">
                <label for="name">Name</label>
              </div>
  
              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="gaurdian_name" id="gaurdian_name" name="cols[]">
                <label for="gaurdian_name">Gaurdian Name</label>
              </div>

              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="father_name" id="father_name" name="cols[]">
                <label for="father_name">Father Name</label>
              </div>
            
              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="siblings" id="siblings" name="cols[]">
                <label for="siblings">Siblings</label>
              </div>

          </div>

          <div class="col-sm-3">             
              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="hieght" id="hieght" name="cols[]">
                <label for="hieght">Height</label>
              </div>
  
              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="weight" id="weight" name="cols[]">
                <label for="weight">Weight</label>
              </div>
              
              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="last_assessed" id="last_assessed" name="cols[]">
                <label for="last_assessed">Last Assessed</label>
              </div>

              
              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="trauma_physical_injuries" id="trauma_physical_injuries" name="cols_health[]">
                <label for="trauma_physical_injuries">Trauma/Physical Injs.</label>
              </div> 

              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="bmi" id="bmi" name="cols_health[]">
                <label for="bmi">Bmi</label>
              </div>
          </div>

          <div class="col-sm-3">             
  
              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="anemia" id="anemia" name="cols_health[]">
                <label for="anemia">Anemia</label>
              </div>

              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="physical_deformities" id="physical_deformities" name="cols_health[]">
                <label for="physical_deformities">Physical Deformities</label>
              </div>
            
              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="hearing_problem" id="hearing_problem" name="cols_health[]">
                <label for="hearing_problem">Hearing Problem</label>
              </div> 

              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="ear_problem" id="ear_problem" name="cols_health[]">
                <label for="ear_problem">Ear Problem</label>
              </div> 

              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="vision" id="vision" name="cols_health[]">
                <label for="vision">Vision</label>
              </div>

          </div>
         <div class="col-sm-3">       
             <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="eye_problem" id="eye_problem" name="cols_health[]">
                <label for="eye_problem">Eye Problem</label>
              </div>

              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="jaundice" id="jaundice" name="cols_health[]">
                <label for="jaundice">Jaundice</label>
              </div>

            <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="facial_puffiness" id="facial_puffiness" name="cols_health[]">
                <label for="facial_puffiness">Facial Puffiness</label>
              </div>
            <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="mental_dissability" id="mental_dissability" name="cols_health[]">
                <label for="mental_dissability">Mental Disability</label>
              </div>
            <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="ho_immunisation" id="ho_immunisation" name="cols_health[]">
                <label for="ho_immunisation">HO Immunisation</label>
              </div>
              </div>
                  <div class="col-sm-3">       
            <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="ho_allergy" id="ho_allergy" name="cols_health[]">
                <label for="ho_allergy">HO Allergy</label>
              </div>
            <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="dental_problem" id="dental_problem" name="cols_health[]">
                <label for="dental_problem">Dental Problem</label>
              </div>
            <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="body_nits" id="body_nits" name="cols_health[]">
                <label for="body_nits">Body nits</label>
              </div>

               <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="lice_in_hair" id="lice_in_hair" name="cols_health[]">
                <label for="lice_in_hair">Lice In Hair</label>
              </div>

</div>
        <div class="col-sm-3">             
  
              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="respiratory_infection" id="respiratory_infection" name="cols_health[]">
                <label for="respiratory_infection">Respiratory Infection</label>
              </div>

              <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="skin_problem" id="skin_problem" name="cols_health[]">
                <label for="skin_problem">Skin Problem</label>
              </div>
            
                <div class="checkbox check-success">
                <input type="checkbox" checked="checked" value="" id="students_check_all" >
                <label for="students_check_all">Select ALl</label>
              </div>
            
          </div>
        </div>
        </div>

      
      <div class="clearfix"></div>
      <button class="btn btn-primary" type="submit">Export</button>
    <% end %>
  </div>
</div>
<!-- END PANEL -->
</div>
</div>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $("#school_check_all").click(function(){
    $('.school input:checkbox').not(this).prop('checked', this.checked);
  });
      $("#students_check_all").click(function(){
    $('.student input:checkbox').not(this).prop('checked', this.checked);
      });
      var URL = "/api/search_schools_for_select";
      $("#school_select").select2({
        minimumInputLength: 2,
        tags: [],
        ajax: {
            url: URL,
            dataType: 'json',
            type: "GET",
            quietMillis: 50,
            data: function (data) {
                return {
                    query: data
                };
            },
            processResults: function (data) {
              console.log(data);
                return {

                    results: $.map(data, function (item) {
                        return {
                            text: item.name,
                            id: item.id
                        }
                    })
                };
            }
        }
  });

   var URL2 = "/api/search_districts_for_select";
      $("#district_select").select2({
        minimumInputLength: 2,
        tags: [],
        ajax: {
            url: URL2,
            dataType: 'json',
            type: "GET",
            quietMillis: 50,
            data: function (data) {
                return {
                    query: data
                };
            },
            processResults: function (data) {
              console.log(data);
                return {

                    results: $.map(data, function (item) {
                        return {
                            text: item.name,
                            id: item.id
                        }
                    })
                };
            }
        }
  });

  var URL3 = "/api/search_tehsil_for_select";
      $("#tehsil_select").select2({
        minimumInputLength: 2,
        tags: [],
        ajax: {
            url: URL3,
            dataType: 'json',
            type: "GET",
            quietMillis: 50,
            data: function (data) {
                return {
                    query: data
                };
            },
            processResults: function (data) {
              console.log(data);
                return {

                    results: $.map(data, function (item) {
                        return {
                            text: item.name,
                            id: item.id
                        }
                    })
                };
            }
        }
  });


  });
  
  
</script> 