<div class="row">
  
<div class="col-md-10 col-md-offset-1">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <h2>Health Session</h2>
      </div>
      <div class="panel-body">

        <div class="table-responsive">
          <div id="detailedTable_wrapper" class="dataTables_wrapper form-inline no-footer"><table class="table table-hover table-condensed table-detailed dataTable no-footer" id="detailedTable" role="grid">
            <thead>
              <tr role="row">
              <th style="width:45%" rowspan="1" colspan="1">Indicator</th>
              <th style="width:20%" rowspan="1" colspan="1">Value</th>
             

              </tr>
            </thead>
            <tbody>
              
              
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">No of Males</td>
                <td class="v-align-middle semi-bold"><%= @h_session.male_no %> </td>
                
            </tr>

            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">No of Females</td>
                <td class="v-align-middle semi-bold"><%= @h_session.felmale_no %> </td>
                
            </tr>
              
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Topic</td>
                <td class="v-align-middle semi-bold"><%= @h_session.topic %> </td>
                
            </tr>
              
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Session Date</td>
                <td class="v-align-middle semi-bold"><%= @h_session.session_date.strftime("%m/%d/%Y") %> </td>
                
            </tr>
              
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Advisor</td>
                <td class="v-align-middle semi-bold"><%= @h_session.advisor %> </td>
                
            </tr>
        
            


              </tbody>
          </table></div>
        </div>
      </div>
    </div>
    <!-- END PANEL -->
  </div>
</div>  
