<div class="row">
  
<div class="col-md-10 col-md-offset-1">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <h2>Health Sessions</h2>
      </div>
      <div class="panel-body">

        <div class="table-responsive">
          <div id="detailedTable_wrapper" class="dataTables_wrapper form-inline no-footer"><table class="table table-hover table-condensed table-detailed dataTable no-footer" id="detailedTable" role="grid">
            <thead>
              <tr role="row">
              <th style="width:45%" rowspan="1" colspan="1">Session Date</th>
              <th style="width:20%" rowspan="1" colspan="1">Topic</th>
              </tr>
            </thead>
            <tbody>
              
              
            
              <% @health_sessions.each do |health__session| %>
              <tr role="row" class="odd">
                <td class="v-align-middle semi-bold">
              <%= link_to admin_health_sessions_details_path(e: health__session.id) do %>

              <%= health__session.session_date.strftime("%m/%d/%Y") %>
              <% end %>
                
              </td>
                <td class="v-align-middle semi-bold"><%= "#{health__session.topic}" %></td>
              </tr>
            <% end %>
              </tbody>
          </table></div>
        </div>
      </div>
    </div>
    <!-- END PANEL -->
  </div>
</div>  
