 <div class="row">
<div class="col-md-8 col-md-offset-2">
<h1>Export Daily Community Visits</h1>
<!-- START PANEL -->
<div class="panel panel-transparent">
  <div class="panel-body">

    <%= form_tag reports_monthly_school_visits_path , :multipart => true ,role: "form",method: :get, novalidate: "novalidate", autocomplete: "off", id: "form-personal" do %>

      <% if flash[:alert].present? %>
        <div class="row clearfix">

          <div class="alert <%= flash[:alert_class] %>" role="alert">
            <button class="close" data-dismiss="alert"></button>
            <strong><%= flash[:alert_start] %>: </strong><%= flash[:alert] %>
          </div>
        </div>

      <% end %>
        
        <div class="row clearfix">
          <div class="col-sm-12">
          <div class="form-group form-group-default required" aria-required="true">
            <label>Select Tehsil</label>
              <%= select_tag 'tehsil',  content_tag(:option,'Please Select Tehsil',:value=>"")+ options_from_collection_for_select(@tehsils,"id","name_with_district"),class: "form-control", required: "" %>
          </div>
        </div>
        </div>
        
        <div class="row clearfix">
          <div class="col-sm-12">
          <div class="form-group form-group-default required" aria-required="true">
            <label>Select Sh&Ns</label>
              <%= select_tag 'shns',  content_tag(:option,'Please Select shns',:value=>"")+ options_from_collection_for_select(@shns,"id","name"),class: "form-control", required: "" %>
          </div>
        </div>
        </div>

        <div class="row clearfix">

        <div class="col-sm-12">
          <div class="form-group form-group-default required" aria-required="true">
          <label>Select Range</label>
            <input type="text" name="range" id="reportrange_students" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
              </input>
        </div>
        </div>        
        
      
      <div class="clearfix"></div>
      <button class="btn btn-primary" type="submit">Export</button>
    <% end %>
  </div>
</div>
<!-- END PANEL -->
</div>
</div> 