  <div class="col-md-3" style="border-right: 1px solid grey;">
               <div class="row">
                  <div class="col-md-12 form-group">
                    <div class="col-md-6">
                      <label>District</label>
                    </div>
                    <div class="col-md-6">
                      <%= select_tag 'district',  content_tag(:option,'No Filter',:value=>"") + options_from_collection_for_select(District.all,"id","name"),class: "form-control filter_option", required: "", id: "district" %>
                    </div>
                  </div>

                  <div class="col-md-12 form-group">
                    <div class="col-md-6">
                      <label>Tehsil</label>
                    </div>
                    <div class="col-md-6">
                      <%= select_tag 'tehsil',  content_tag(:option,'No Filter',:value=>"") + options_from_collection_for_select(Tehsil.all,"id","name"),class: "form-control filter_option", required: "", id: 'tehsil' %>
                    </div>
                  </div>

                     <div class="col-md-12 form-group">
                    <div class="col-md-6">
                      <label>SHNS</label>
                    </div>
                    <div class="col-md-6">
                      <%= select_tag 'shns',  content_tag(:option,'No Filter',:value=>"") + options_from_collection_for_select(Admin.load_all_but_super_admin,"id","name"),class: "form-control filter_option", required: "", id: 'shns' %>
                    </div>
                  </div>  


                  <div class="col-sm-12 form-group">
                    <div class=" form-group-default required" aria-required="true">
                    <label>Select Range</label>
                      <input type="text" name="range" id="range" class="pull-right filter_option" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%"/>
                  </div>

               </div>
               
                <div class="col-sm-12 form-group">
                    <label>start time</label>
                    <div class="input-group  bootstrap-timepicker">
                          <input id="timepicker_start" type="text" class="form-control filter_option">
                        <span class="input-group-addon"><i class="pg-clock"></i></span>
                      </div>
                </div>
                <div class="col-sm-12 form-group">
                      <label>end time</label>

                      <div class="input-group bootstrap-timepicker">

                          <input id="timepicker_end" type="text" class="form-control filter_option">
                        <span class="input-group-addon"><i class="pg-clock"></i></span>
                      </div>
               </div>


               </div>
               <div class="col-md-8 col-md-offset-2">
                   <input type="submit" class="btn btn-primary btn-cons b" value="Submit" id="submit_data" />
                </div>
               
            </div>

            <script type="text/javascript">
                $(function() {

              var start = moment().subtract(29, 'days');
              var end = moment();

              function cb(start, end) {
                  $('#reportrange_students span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
              }

              $('#range').daterangepicker({
                  startDate: start,
                  endDate: end,
                  ranges: {
                     'Today': [moment(), moment()],
                     'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                     'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                     'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                     'This Month': [moment().startOf('month'), moment().endOf('month')],
                     'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                  }
              }, cb);

              cb(start, end);

               $('#timepicker_start').timepicker().on('show.timepicker', function(e) {
            var widget = $('.bootstrap-timepicker-widget');
            widget.find('.glyphicon-chevron-up').removeClass().addClass('pg-arrow_maximize');
            widget.find('.glyphicon-chevron-down').removeClass().addClass('pg-arrow_minimize');
        });


         $('#timepicker_end').timepicker().on('show.timepicker', function(e) {
            var widget = $('.bootstrap-timepicker-widget');
            widget.find('.glyphicon-chevron-up').removeClass().addClass('pg-arrow_maximize');
            widget.find('.glyphicon-chevron-down').removeClass().addClass('pg-arrow_minimize');
        });


         $('#district').change(function() {
          $.ajax({
             url: "/admin/update_tehsils", // this will be routed
             type: 'GET',
             data: {
               district_id: $("#district").val()
             },
             async: true,
             dataType: "json",
             error: function(XMLHttpRequest, errorTextStatus, error){
                        alert("Failed: "+ errorTextStatus+" ;"+error);
                    },
             success: function(data){
                // here we iterate the json result
                document.getElementById('tehsil').innerHTML = "";

                for(var i in data)
                {
                  var id = data[i].id;
                  var title = data[i].name;
                  $("#tehsil").append(new Option(title, id));
                }        
                $('#tehsil').trigger("change");
             }
           });
        });

         $('#tehsil').change(function() {
          $.ajax({
             url: "/admin/update_shns", // this will be routed
             type: 'GET',
             data: {
               tehsil_id: $("#tehsil").val()
             },
             async: true,
             dataType: "json",
             error: function(XMLHttpRequest, errorTextStatus, error){
                        alert("Failed: "+ errorTextStatus+" ;"+error);
                    },
             success: function(data){
                // here we iterate the json result
                document.getElementById('shns').innerHTML = "";

                for(var i in data)
                {
                  var id = data[i].id;
                  var title = data[i].username;
                  $("#shns").append(new Option(title, id));
                }        

             }
           });
        });
              
          });

        // $(".filter_option").change(function(){
        //  district = $("#district").val();
        //  tehsil = $("#tehsil").val();
        //  shns = $("#shns").val();
        //  range = $("#range").val();
        //  start_time = $("#timepicker_start").val();
        //  end_time = $("#timepicker_end").val();

        //  type = $(this).data("type");
        //     $.ajax({
        //       url: "/admin/update_tehsils?type=" + type + "&district=" + district + "&tehsil=" + tehsil + "&shns=" + shns + "&range=" + range + "&start_time=" + start_time + "&end_time=" + end_time ,
        //       context: document.body
        //     }).done(function(data) {
        //     });
        //   });

       

        </script>