<div class="row column-seperation">
	<%= render 'performance_side_form' %>
	<div class="col-md-8">
	<dir class="row">
		
		<div class="col-md-3">
		 <div class="widget-8 panel no-border bg-danger no-margin widget-loader-bar chart-tile" data-type="total_schools_assesed" id="total_schools_assessed"> 
	        <div class="container-xs-height full-height">
	          <div class="row-xs-height">
	            <div class="col-xs-height col-top">
	              <div class="panel-heading top-left top-right">
	                <div class="panel-title text-black hint-text">
	                  <span class="font-montserrat fs-11 all-caps">Total Schools Assessed <i
	                      class="fa fa-chevron-right"></i>
	                                      </span>
	                </div>
	                
	              </div>
	            </div>
	          </div>
	          <div class="row-xs-height ">
	          </div>
	          <div class="row-xs-height ">
	            <div class="col-xs-height col-top relative">
	              <div class="row">
	                <div class="col-sm-6">
	                  <div class="p-l-20">
	                    <h3 class="no-margin p-b-5 text-black" id="total_schools_assesed_count"><%= @total_schools_assessed %> </h3>
	                  </div>
	                </div>
	                <div class="col-sm-6">
	                </div>
	              </div>
	              <div class='widget-8-chart line-chart' data-line-color="black" data-points="true" data-point-color="success" data-stroke-width="2">
	                <svg></svg>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	      </div>

	      <div class="col-md-3">
		 <div class="widget-8 panel no-border bg-danger no-margin widget-loader-bar chart-tile" data-type="total_child_screenings" id="total_child_screenings">
	        <div class="container-xs-height full-height">
	          <div class="row-xs-height">
	            <div class="col-xs-height col-top">
	              <div class="panel-heading top-left top-right">
	                <div class="panel-title text-black hint-text">
	                  <span class="font-montserrat fs-11 all-caps">Total Child Screenings <i
	                      class="fa fa-chevron-right"></i>
	                                      </span>
	                </div>
	                
	              </div>
	            </div>
	          </div>
	          <div class="row-xs-height ">
	          </div>
	          <div class="row-xs-height ">
	            <div class="col-xs-height col-top relative">
	              <div class="row">
	                <div class="col-sm-6">
	                  <div class="p-l-20">
	                    <h3 class="no-margin p-b-5 text-black" id="total_child_screenings_count"><%= @total_child_screenings %> </h3>
	                  </div>
	                </div>
	                <div class="col-sm-6">
	                </div>
	              </div>
	              <div class='widget-8-chart line-chart' data-line-color="black" data-points="true" data-point-color="success" data-stroke-width="2">
	                <svg></svg>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	      </div>

	      
	      <div class="col-md-3">
<div class="widget-8 panel no-border bg-danger no-margin widget-loader-bar chart-tile" data-type="total_school_health_meetings" id="total_school_health_meetings">
	        <div class="container-xs-height full-height">
	          <div class="row-xs-height">
	            <div class="col-xs-height col-top">
	              <div class="panel-heading top-left top-right">
	                <div class="panel-title text-black hint-text">
	                  <span class="font-montserrat fs-11 all-caps" >Total School health council meetings <i
	                      class="fa fa-chevron-right"></i>
	                                      </span>
	                </div>
	                
	              </div>
	            </div>
	          </div>
	          <div class="row-xs-height ">
	          </div>
	          <div class="row-xs-height ">
	            <div class="col-xs-height col-top relative">
	              <div class="row">
	                <div class="col-sm-6">
	                  <div class="p-l-20">
	                    <h3 class="no-margin p-b-5 text-black" id="total_school_health_meetings_count"><%= @total_school_health_meetings %> </h3>
	                  </div>
	                </div>
	                <div class="col-sm-6">
	                </div>
	              </div>
	              <div class='widget-8-chart line-chart' data-line-color="black" data-points="true" data-point-color="success" data-stroke-width="2">
	                <svg></svg>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	      </div>

	      <div class="col-md-3">
			<div class="widget-8 panel no-border bg-danger no-margin widget-loader-bar chart-tile" data-type="total_follow_up_marks" id="total_follow_up_marks">
	        <div class="container-xs-height full-height">
	          <div class="row-xs-height">
	            <div class="col-xs-height col-top">
	              <div class="panel-heading top-left top-right">
	                <div class="panel-title text-black hint-text">
	                  <span class="font-montserrat fs-11 all-caps">Total Follow Up Marks <i
	                      class="fa fa-chevron-right"></i>
	                                      </span>
	                </div>
	                
	              </div>
	            </div>
	          </div>
	          <div class="row-xs-height ">
	          </div>
	          <div class="row-xs-height ">
	            <div class="col-xs-height col-top relative">
	              <div class="row">
	                <div class="col-sm-6">
	                  <div class="p-l-20">
	                    <h3 class="no-margin p-b-5 text-black" id="total_follow_up_marks_count"><%= @total_followup_marks %> </h3>
	                  </div>
	                </div>
	                <div class="col-sm-6">
	                </div>
	              </div>
	              <div class='widget-8-chart line-chart' data-line-color="black" data-points="true" data-point-color="success" data-stroke-width="2">
	                <svg></svg>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	      </div>
	</dir>


	<dir class="row">
		
		<div class="col-md-3">
		 <div class="widget-8 panel no-border bg-danger no-margin widget-loader-bar chart-tile" data-type="total_follow_up_late" id="total_follow_up_late">
	        <div class="container-xs-height full-height">
	          <div class="row-xs-height">
	            <div class="col-xs-height col-top">
	              <div class="panel-heading top-left top-right">
	                <div class="panel-title text-black hint-text">
	                  <span class="font-montserrat fs-11 all-caps">Total Followups not completed by due date  <i
	                      class="fa fa-chevron-right"></i>
	                                      </span>
	                </div>
	                
	              </div>
	            </div>
	          </div>
	          <div class="row-xs-height ">
	          </div>
	          <div class="row-xs-height ">
	            <div class="col-xs-height col-top relative">
	              <div class="row">
	                <div class="col-sm-6">
	                  <div class="p-l-20">
	                    <h3 class="no-margin p-b-5 text-black" id="total_follow_up_late_count"><%= @total_followups_not_completed_by_due_date %> </h3>
	                  </div>
	                </div>
	                <div class="col-sm-6">
	                </div>
	              </div>
	              <div class='widget-8-chart line-chart' data-line-color="black" data-points="true" data-point-color="success" data-stroke-width="2">
	                <svg></svg>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	      </div>

	      <div class="col-md-3">
		 <div class="widget-8 panel no-border bg-danger no-margin widget-loader-bar chart-tile" data-type="total_follow_up_completed" id="total_follow_up_completed">
	        <div class="container-xs-height full-height">
	          <div class="row-xs-height">
	            <div class="col-xs-height col-top">
	              <div class="panel-heading top-left top-right">
	                <div class="panel-title text-black hint-text">
	                  <span class="font-montserrat fs-11 all-caps">Total Followups Completed <i
	                      class="fa fa-chevron-right"></i>
	                                      </span>
	                </div>
	                
	              </div>
	            </div>
	          </div>
	          <div class="row-xs-height ">
	          </div>
	          <div class="row-xs-height ">
	            <div class="col-xs-height col-top relative">
	              <div class="row">
	                <div class="col-sm-6">
	                  <div class="p-l-20">
	                    <h3 class="no-margin p-b-5 text-black" id="total_follow_up_completed_count"><%= @total_followups_completed %> </h3>
	                  </div>
	                </div>
	                <div class="col-sm-6">
	                </div>
	              </div>
	              <div class='widget-8-chart line-chart' data-line-color="black" data-points="true" data-point-color="success" data-stroke-width="2">
	                <svg></svg>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	      </div>


	      <div class="col-md-3">
		 <div class="widget-8 panel no-border bg-danger no-margin widget-loader-bar chart-tile" data-type="parents_councelling_sessions" id="parents_councelling_sessions">
	        <div class="container-xs-height full-height">
	          <div class="row-xs-height">
	            <div class="col-xs-height col-top">
	              <div class="panel-heading top-left top-right">
	                <div class="panel-title text-black hint-text">
	                  <span class="font-montserrat fs-11 all-caps">Parents councelling sessions <i
	                      class="fa fa-chevron-right"></i>
	                                      </span>
	                </div>
	                
	              </div>
	            </div>
	          </div>
	          <div class="row-xs-height ">
	          </div>
	          <div class="row-xs-height ">
	            <div class="col-xs-height col-top relative">
	              <div class="row">
	                <div class="col-sm-6">
	                  <div class="p-l-20">
	                    <h3 class="no-margin p-b-5 text-black" id="parents_councelling_sessions_count"><%= @total_parent_councelling_sessions %> </h3>
	                  </div>
	                </div>
	                <div class="col-sm-6">
	                </div>
	              </div>
	              <div class='widget-8-chart line-chart' data-line-color="black" data-points="true" data-point-color="success" data-stroke-width="2">
	                <svg></svg>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	      </div>

	      
	      <div class="col-md-3">
		 <div class="widget-8 panel no-border bg-danger no-margin widget-loader-bar chart-tile" data-type="daily_plans" id="daily_plans">
		    <div class="container-xs-height full-height">
	          <div class="row-xs-height">
	            <div class="col-xs-height col-top">
	              <div class="panel-heading top-left top-right">
	                <div class="panel-title text-black hint-text">
	                  <span class="font-montserrat fs-11 all-caps">Total Daily Plans Followed <i
	                      class="fa fa-chevron-right"></i>
	                                      </span>
	                </div>
	                
	              </div>
	            </div>
	          </div>
	          <div class="row-xs-height ">
	          </div>
	          <div class="row-xs-height ">
	            <div class="col-xs-height col-top relative">
	              <div class="row">
	                <div class="col-sm-6">
	                <div class="col-sm-6">
	                  <div class="p-l-20">
	                    <h3 class="no-margin p-b-5 text-black" id="daily_plans_count"><%= @total_daily_plans_followed %> </h3>
	                  </div>
	                </div>
	                <div class="col-sm-6">
	                </div>
	              </div>
	              <div class='widget-8-chart line-chart' data-line-color="black" data-points="true" data-point-color="success" data-stroke-width="2">
	                <svg></svg>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	      </div>
	</dir>

	<dir class="row">
		
		<div class="col-md-3">
		 <div class="widget-8 panel no-border bg-danger no-margin widget-loader-bar chart-tile" data-type="daily_plans_not_followed" id="daily_plans_not_followed">
		    <div class="container-xs-height full-height">
	          <div class="row-xs-height">
	            <div class="col-xs-height col-top">
	              <div class="panel-heading top-left top-right">
	                <div class="panel-title text-black hint-text">
	                  <span class="font-montserrat fs-11 all-caps">Total Daily Plans Not Followed <i
	                      class="fa fa-chevron-right"></i>
	                                      </span>
	                </div>
	                
	              </div>
	            </div>
	          </div>
	          <div class="row-xs-height ">
	          </div>
	          <div class="row-xs-height ">
	            <div class="col-xs-height col-top relative">
	              <div class="row">
	                <div class="col-sm-6">
	                  <div class="p-l-20">
	                    <h3 class="no-margin p-b-5 text-black" id="daily_plans_not_followed"><%= @total_daily_plans_not_followed %> </h3>
	                  </div>
	                </div>
	                <div class="col-sm-6">
	                </div>
	              </div>
	              <div class='widget-8-chart line-chart' data-line-color="black" data-points="true" data-point-color="success" data-stroke-width="2">
	                <svg></svg>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	      </div>

	     

	      
	      
	</dir>

	</div>

</div>

<div class="row">
	<div class="col-md-6"><div id="dailY_sum_container" style="width:100%; height:400px;"></div></div>
	<div class="col-md-6"><div id="dailY_avg_container" style="width:100%; height:400px;"></div></div>
	<br/><br/><br/>
	<div class="col-md-6"><div id="time_of_day_sum_container" style="width:100%; height:400px;"></div></div>
	<div class="col-md-6"><div id="time_of_day_avg_container" style="width:100%; height:400px;"></div></div>
	<br/><br/><br/>
	<div class="col-md-6"><div id="date_wise_avg" style="width:100%; height:400px;"></div></div>

</div>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript">
	$(".chart-tile").click(function(){
		district = $("#district").val();
		tehsil = $("#tehsil").val();
		shns = $("#shns").val();
		range = $("#range").val();
		start_time = $("#timepicker_start").val();
		end_time = $("#timepicker_end").val();

		type = $(this).data("type");
	    $.ajax({
	      url: "/admin/get_charts?type=" + type + "&district=" + district + "&tehsil=" + tehsil + "&shns=" + shns + "&range=" + range + "&start_time=" + start_time + "&end_time=" + end_time ,
	      context: document.body
	    }).done(function(data) {
	    });
	  });

	// $(".filter_option").change(function(){
	// 	district = $("#district").val();
	// 	tehsil = $("#tehsil").val();
	// 	shns = $("#shns").val();
	// 	range = $("#range").val();
	// 	start_time = $("#timepicker_start").val();
	// 	end_time = $("#timepicker_end").val();

	// 	type = $(this).data("type");
	//     $.ajax({
	//       url: "/admin/update_tiles?type=" + type + "&district=" + district + "&tehsil=" + tehsil + "&shns=" + shns + "&range=" + range + "&start_time=" + start_time + "&end_time=" + end_time ,
	//       context: document.body
	//     }).done(function(data) {
	//     });
	//   });

	$("#submit_data").click(function(){
		district = $("#district").val();
		tehsil = $("#tehsil").val();
		shns = $("#shns").val();
		range = $("#range").val();
		start_time = $("#timepicker_start").val();
		end_time = $("#timepicker_end").val();

		type = $(this).data("type");
	    $.ajax({
	      url: "/admin/update_tiles?type=" + type + "&district=" + district + "&tehsil=" + tehsil + "&shns=" + shns + "&range=" + range + "&start_time=" + start_time + "&end_time=" + end_time ,
	      context: document.body
	    }).done(function(data) {
	    });
	  });

</script>
