<div class="row column-seperation">
	<%= render 'performance_side_form_movement_tracking' %>
	<div class="col-md-8"><%= render 'agent_mapping' %></div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
	initMap();	
	});
	


	$("#submit_data1").click(function(){
		if($("#shns1").val()=="")
			alert("Please select Shns");
		else{
			district = $("#district1").val();
			tehsil = $("#tehsil1").val();
			shns = $("#shns1").val();
			range = $("#range1").val();
			start_time = $("#timepicker_start1").val();
			end_time = $("#timepicker_end1").val();

			type = $(this).data("type");
		    $.ajax({
		      url: "/admin/update_movement_map?type=" + type + "&district=" + district + "&tehsil=" + tehsil + "&shns=" + shns + "&range=" + range + "&start_time=" + start_time + "&end_time=" + end_time ,
		      context: document.body
		    }).done(function(data) {
		    	for (var i = 0; i < markers.length; i++ ) {
					    markers[i].setMap(null);
					  }
					  markers.length = 0;
					  console.log(data);
					  data_markers =  data;

				     initMap();
				      
		    });

		}
	  });


</script>