<div class="row column-seperation">
	<%= render 'agent_tracking_side_form_planning_report' %>
	<div class="col-md-8">
		<h2>Weekly Planning Form Reporting</h2>
	<div class="row">
		<div class="col-md-6">
			Month: <span id="month">_____ </span>
		</div>
		<div class="col-md-6">
			Week: <span id="week">_____</span>
		</div>
		
	</div>
	<div class="row">
		<div class="col-md-12">SH & NS Name: <span id="shns_name">______</span></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped" >
			<tbody id="planner_table">
				<tr>
					<td colspan="5">
						Week Planner Form
					</td>
				</tr>
				
				<tr>
				<td>
					Day
				</td>
				<td>
					Name
				</td>	
				<td>
					Community
				</td>		
				<td>
					School
				</td>	
				</tr>
				</tbody>

				
			</table>
		</div> 	
	</div>
	</div>


</div>



<script type="text/javascript">
	
$(document).ready(function(){



	$("#submit_data4").click(function(){
		
			district = $("#district4").val();
			tehsil = $("#tehsil4").val();
			shns = $("#shns4").val();
			range = $("#range4").val();

			type = $(this).data("type");
			if(shns=="")
			{
				alert("Please select SHSN");
				return;
			}
		    $.ajax({
		      url: "/admin/update_planning_report?type=" + type + "&district=" + district + "&tehsil=" + tehsil + "&shns=" + shns + "&range=" + range ,
		      context: document.body
		    }).done(function(content) {
		    	var data = content.data
		    	$("#shns_name").html(content.shns);
		    	$("#week").html(content.week);
		    	$("#month").html(content.month);
		    	for (var i = data.length - 1; i >= 0; i--) {

		    	str= "<tr>"
		    	str += "<td>";
		    	str += data[i].day;
		    	str += "</td>";
		    	str += "<td>";
		    	str += data[i].name;
		    	
		    	str += "</td>";
		    	
		    	str += "<td>";
		    	if(data[i].plan_type == 0)
		    		text = "Yes";
		    	else
		    		text = "no";
		    	str += text;
		    	str += "</td>";
		    	str += "<td>";
		    	if(data[i].plan_type == 1)
		    		text = "Yes";
		    	else
		    		text = "no";
		    	str += text;
		    	str += "</td>";
		    	str += "</tr>";
		    	$("#planner_table").append(str);
			}
		    });


	  });
	});


</script>