<div class="row">
  
<div class="col-md-8 col-md-offset-2">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <div class="panel-title">List of Divisions
        </div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <div id="detailedTable_wrapper" class="dataTables_wrapper form-inline no-footer"><table class="table table-hover table-condensed table-detailed dataTable no-footer" id="detailedTable" role="grid">
            <thead>
              <tr role="row">
              <th style="width:50%" rowspan="1" colspan="1">Name</th>
              <th style="width:50%" rowspan="1" colspan="1">Delete</th>

              </tr>
            </thead>
            <tbody>
              
              
            <tr role="row" class="odd">
              <% @schools.each do |school| %>
                <td class="v-align-middle semi-bold"><%= school.name %></td>
                <td class="v-align-middle semi-bold"><%= school.tehsil.name %></td>
                <td class="v-align-middle"><%= link_to '<i class="fa fa-trash"></i>'.html_safe , admin_delete_school_path(school_id: school.id) %></td>
              </tr>
            <% end %>
              </tbody>
          </table></div>
        </div>
      </div>
    </div>
    <!-- END PANEL -->
  </div>
</div>  
