<div class="row">
<br/>
  <div class="col-md-10 col-md-offset-1">
                  <%= form_tag admin_manage_schools_path , :multipart => true ,role: "form",method: :get, novalidate: "novalidate", autocomplete: "off", id: "form-personal" do %>
             <div class="row clearfix">
                <div class="col-sm-12">
             
                  <div class="form-group form-group-default required" aria-required="true">

                    <%= label_tag :Seach_schools %>
                    <%= text_field_tag :q %>
                  </div>
                  <div class="clearfix"></div>
              <button class="btn btn-primary" type="submit">Search</button>
                  
                </div>
              </div>
                  <% end %>
                
            </div>
<div class="col-md-10 col-md-offset-1">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <div class="panel-title"> <h1> <%= !params[:q].present? ? "All Schools" : "Search Results" %> </h1>
        </div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <div id="detailedTable_wrapper" class="dataTables_wrapper form-inline no-footer"><table class="table table-hover table-condensed table-detailed dataTable no-footer" id="detailedTable" role="grid">
            <thead>
              <tr role="row">
              <th style="width:40%" rowspan="1" colspan="1">Name</th>
              <th style="width:30%" rowspan="1" colspan="1">Division</th>
              <th style="width:30%" rowspan="1" colspan="1">District</th>
              <th style="width:20%" rowspan="1" colspan="1">Tehsil</th>
              <th style="width:20%" rowspan="1" colspan="1">Students</th>
              <th style="width:20%" rowspan="1" colspan="1">Delete</th>
              <th style="width:20%" rowspan="1" colspan="1">Details</th>

              </tr>
            </thead>
            <tbody>
              
              
            <tr role="row" class="odd">
              <% @schools.each do |school| %>
                <td class="v-align-middle semi-bold"><%=link_to admin_school_details_path(school: school.id) do%><%= school.name %> <%end %></td>
                <td class="v-align-middle semi-bold"><%= school.division_name %></td>
                <td class="v-align-middle semi-bold"><%= school.district_name %></td>
                <td class="v-align-middle semi-bold"><%= school.tehsil_name %></td>
                <td class="v-align-middle semi-bold"><%= school.students.count %></td>
                <td class="v-align-middle"><%= link_to '<i class="fa fa-wrench"></i>'.html_safe , admin_delete_tehsil_path(teh_id: school.id) %></td>
                <td class="v-align-middle"><%= link_to '<i class="fa fa-trash"></i>'.html_safe , admin_delete_school_path(teh_id: school.id) %></td>
              </tr>
            <% end %>
              
              
              </tbody>
          </table>
          <div class="apple_pagination">
              <div class="page_info">
                <%= page_entries_info @schools %>
              </div>
              <%= will_paginate @schools, :container => false %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END PANEL -->
  </div>
</div>  
