<div class="modal fade slide-up disable-scroll" id="modalSlideUp" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog ">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <div class="modal-header clearfix text-left">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
          </button>
          <h5>New <span class="semi-bold">School</span></h5>
        </div>
        <div class="modal-body">
               <%= form_tag admin_create_new_school_path , :multipart => true ,role: "form",method: :post, novalidate: "novalidate", autocomplete: "off", id: "form-personal" do %>

      <% if flash[:alert].present? %>
        <div class="row clearfix">

          <div class="alert <%= flash[:alert_class] %>" role="alert">
            <button class="close" data-dismiss="alert"></button>
            <strong><%= flash[:alert_start] %>: </strong><%= flash[:alert] %>
          </div>
        </div>

      <% end %>
      <div class="row clearfix">
        <div class="col-sm-12">
          <div class="form-group form-group-default required" aria-required="true">
            <label>Name</label>
            <input type="text" class="form-control" name="name" required="" aria-required="true" >
          </div>
        </div>
       </div>

      <div class="row clearfix">
        <div class="col-sm-6">
          <div class="form-group form-group-default required" aria-required="true">
            <label>Latitude</label>
            <input type="text" class="form-control" name="lat" required="" aria-required="true" placeholder="30.3753" >
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group form-group-default required" aria-required="true">
            <label>Longitude</label>
            <input type="text" class="form-control" name="long" required="" aria-required="true"  placeholder="69.3451">
          </div>
        </div>
       </div>

       <div class="row clearfix">
        <div class="col-sm-12">
          <div class="form-group form-group-default required" aria-required="true">
            <label>Select Tehsil</label>
              <%= select_tag 'tehsil',  options_from_collection_for_select(Tehsil.all,"id","name_with_district"),class: "form-control", required: "" %>
          </div>
        </div>
       </div>
      
      <div class="clearfix"></div>
      <button class="btn btn-primary" type="submit">Add School</button>
    <% end %>

          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
</div>
