 <div class="row">
<div class="col-lg-7 col-md-6 col-md-offset-2">
<!-- START PANEL -->
<div class="panel panel-transparent">
  <div class="panel-body">
    <%= form_tag admin_save_settings_path , :multipart => true ,role: "form",method: :post, novalidate: "novalidate", autocomplete: "off", id: "form-personal" do %>

      <% if flash[:alert].present? %>
        <div class="row clearfix">

          <div class="alert <%= flash[:alert_class] %>" role="alert">
            <button class="close" data-dismiss="alert"></button>
            <strong><%= flash[:alert_start] %>: </strong><%= flash[:alert] %>
          </div>
        </div>

      <% end %>
      <div class="row clearfix">
        <div class="col-sm-12">
          <div class="form-group form-group-default required" aria-required="true">
            <label>First name</label>
            <input type="text" class="form-control" name="firstName" required="" aria-required="true" value="<%= @admin.first_name %>">
          </div>
        </div>
        </div>
       <div class="row clearfix">
        <div class="col-sm-12">
          <div class="form-group form-group-default required" aria-required="true">
            <label>Last name</label>
            <input type="text" class="form-control" name="lastName" required="" aria-required="true" value="<%= @admin.last_name %>">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group form-group-default">
            <label>Password</label>
            <input type="password" class="form-control" name="password" placeholder="Minimum of 4 characters." required="" aria-required="true">
          </div>
        </div>
      </div>
      
      <div class="clearfix"></div>
      <button class="btn btn-primary" type="submit">Save Settings</button>
    <% end %>
  </div>
</div>
<!-- END PANEL -->
</div>
</div> 