 <div class="row">
<div class="col-md-8 col-md-offset-2">
<!-- START PANEL -->
<div class="panel panel-transparent">
  <div class="panel-body">
    <%= link_to "Back to SH&NS Management", admin_manage_shns_path, class: "btn btn-primary" %>

    <%= form_tag admin_create_new_shns_path , :multipart => true ,role: "form",method: :post, novalidate: "novalidate", autocomplete: "off", id: "form-personal" do %>

      <% if flash[:alert].present? %>
        <div class="row clearfix">
        <div class="col-md-12">
          <br/>
        
          <div class="alert <%= flash[:alert_class] %>" role="alert">
            <button class="close" data-dismiss="alert"></button>
            <strong><%= flash[:alert_start] %>: </strong><%= flash[:alert] %>
          </div>
        </div>
        </div>

      <% end %>


      <div class="row clearfix">
        <div class="col-sm-12">
        <h3>New Staff Member</h3>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-sm-12">
          <div class="form-group form-group-default " >
            <label>First Name</label>
            <input type="text" class="form-control" name="first_name" required="" aria-required="true" >
          </div>
        </div>
        </div> 
      
      <div class="row clearfix">
        <div class="col-sm-12">
          <div class="form-group form-group-default " >
            <label>Last Name</label>
            <input type="text" class="form-control" name="last_name" required="" aria-required="true" >
          </div>
        </div>
      </div> 
      
      <div class="row clearfix">
        <div class="col-sm-12">
          <div class="form-group form-group-default required" aria-required="true">
            <label>Username</label>
            <input type="text" class="form-control" name="username" required="" aria-required="true" >
          </div>
        </div>
      </div> 


      <div class="row clearfix">
        <div class="col-sm-12">
          <div class="form-group form-group-default required" aria-required="true">
            <label>Email</label>
            <input type="text" class="form-control" name="email" required="" aria-required="true" >
          </div>
        </div>
      </div> 

      <div class="row clearfix">
        <div class="col-sm-12">
          <div class="form-group form-group-default required" aria-required="true">
            <label>Password</label>
            <input type="password" class="form-control" name="password" required="" aria-required="true" >
          </div>
        </div>
      </div> 

      <div class="row clearfix">
        <div class="col-sm-12">
          <div class="form-group form-group-default required" aria-required="true">
            <label>Retype Password</label>
            <input type="password" class="form-control" name="re_password" required="" aria-required="true" >
          </div>
        </div>
      </div> 

       <div class="row clearfix" id="district_box">
          <div class="col-sm-12">
          <div class="form-group form-group-default " >
            <label>Select District</label>
              <%= select_tag 'district',  options_from_collection_for_select(District.all,"id","name"),class: "form-control", required: "", id: "district" %>
          </div>
        </div>
        </div>
      
      <div class="row clearfix" id="tehsil_box">
          <div class="col-sm-12">
          <div class="form-group form-group-default" >
            <label>Select Tehsil</label>
              <%= select_tag 'tehsil',  options_from_collection_for_select(Tehsil.all,"id","name"),class: "form-control", required: "", id: "tehsil" %>
          </div>
        </div>
        </div>
      
      <div class="clearfix"></div>
      <button class="btn btn-primary" type="submit">Add SH&NS Agent</button>
    <% end %>
  </div>
</div>
<!-- END PANEL -->
</div>
</div>
<script type="text/javascript">
   $('#district').change(function() {
        $.ajax({
           url: "/admin/update_tehsils", // this will be routed
           type: 'GET',
           data: {
             district_id: $("#district").val()
           },
           async: true,
           dataType: "json",
           error: function(XMLHttpRequest, errorTextStatus, error){
                      alert("Failed: "+ errorTextStatus+" ;"+error);
                  },
           success: function(data){
              // here we iterate the json result
              document.getElementById('tehsil').innerHTML = "";

              for(var i in data)
              {
                var id = data[i].id;
                var title = data[i].name;
                $("#tehsil").append(new Option(title, id));
              }        
              // $('#tehsil1').trigger("change");
           }
         });
      });

</script> 