 <!-- BEGIN SIDEBPANEL-->
    <nav class="page-sidebar" data-pages="sidebar">
    
      <!-- BEGIN SIDEBAR MENU HEADER-->
      <div class="sidebar-header">
        <h1 style="color:white;">Reporting
        <div class="sidebar-header-controls">
          <button type="button" class="btn btn-link visible-lg-inline" data-toggle-pin="sidebar" title="Click to pin the side menu"><i class="fa fs-12"></i>
          </button>
          </h1>
        </div>
      </div>
      <!-- END SIDEBAR MENU HEADER-->
      <!-- START SIDEBAR MENU -->
      <div class="sidebar-menu">
        <!-- BEGIN SIDEBAR MENU ITEMS-->
        <ul class="menu-items">
          <li class="">
            <%= link_to admin_dashboard_path do %>
              <span class="title">Dashboard</span>
            <% end %>
            <span class="icon-thumbnail"><i class="pg-layouts"></i></span>
          </li>
          <li>
            <a href="javascript:;"><span class="title">Database</span>
            <span class=" arrow"></span></a>
            <span class="icon-thumbnail"><i class="pg-calender"></i></span>
            <ul class="sub-menu">
              <li class="">
              <%= link_to "Manage Divisions", admin_manage_divisions_path  %>
                <span class="icon-thumbnail">Di</span>
              </li> 
              <li class="">
              <%= link_to "Manage Districts", admin_manage_districts_path  %>
                <span class="icon-thumbnail">Ds</span>
              </li>
              <li class="">
              <%= link_to "Manage Tehsils", admin_manage_tehsils_path  %>
                <span class="icon-thumbnail">Th</span>
              </li>
            </ul>
          </li>
          <li class="">
            <%= link_to admin_manage_staff_path do %>
              <span class="title">Manage Staff</span>
            <% end %>
            <span class="icon-thumbnail"><i class="pg-layouts"></i></span>
          </li>
          
          <li class="">
            <%= link_to admin_manage_schools_path do %>
              <span class="title">Manage Schools</span>
            <% end %>
            <span class="icon-thumbnail"><i class="fa  fa-building"></i></span>
          </li>

          <li class="">
            <%= link_to admin_manage_shns_path do %>
              <span class="title">Manage SH&NS</span>
            <% end %>
            <span class="icon-thumbnail"><i class="pg-social"></i></span>
          </li>

          <li class="">
            <%= link_to admin_export_data_path do %>
              <span class="title">Export Data</span>
            <% end %>
            <span class="icon-thumbnail"><i class="pg-social"></i></span>
          </li>
          
          <li class="">
            <%= link_to admin_track_agents_path do %>
              <span class="title">Track Agents</span>
            <% end %>
            <span class="icon-thumbnail"><i class="pg-social"></i></span>
          </li>
          
        </ul>
        <div class="clearfix"></div>
      </div>
      <!-- END SIDEBAR MENU -->
    </nav>
    <!-- END SIDEBAR -->
    <!-- END SIDEBPANEL-->