<div class="row">
 
<div class="col-md-8 col-md-offset-2">
 <%= link_to admin_new_staff_member_path do %>
  <button class="btn btn-primary" type="submit">Add New Staff Member</button>
<% end %>
</div>
<div class="col-md-8 col-md-offset-2">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <div class="panel-title"> <h1> Staff List </h1>
          
        </div>
      </div>
      <div class="panel-body">

          </div>
          <%= form_tag admin_manage_staff_path , :multipart => true ,role: "form",method: :get, novalidate: "novalidate", autocomplete: "off", id: "form-personal" do %>

             
              <div class="row">
                  <div class="col-sm-3">
                  <div class="form-group form-group-default required" aria-required="true">
                    <label>Select Role</label>
                      <%= select_tag 'role', content_tag(:option,'No Filter',:value=>"") + options_for_select(ROLES_FOR_STAFF, params[:role]) ,class: "form-control", required: "", id: "role"  %>
                  </div>
                </div>
            
                <div class="col-sm-3">
                <div class="form-group form-group-default " >
                  <label>Select Division</label>
                    <%= select_tag 'division',  content_tag(:option,'No Filter',:value=>"") +options_from_collection_for_select(Division.all,"id","name", params[:division]),class: "form-control", required: "" , id: "division" %>
                </div>
              </div>
            
                <div class="col-sm-3">
                <div class="form-group form-group-default " >
                  <label>Select District</label>
                    <%= select_tag 'district', content_tag(:option,'No Filter',:value=>"") + options_from_collection_for_select(District.filter_by_divisions(params[:division]),"id","name",params[:district]),class: "form-control", required: "", id: "district" %>
                </div>
              </div>
            
                <div class="col-sm-3">
                <div class="form-group form-group-default" >
                  <label>Select Tehsil</label>
                    <%= select_tag 'tehsil',  content_tag(:option,'No Filter',:value=>"") +options_from_collection_for_select(Tehsil.filter_by_districts(params[:district]),"id","name_with_district", params[:tehsil]),class: "form-control", required: "" %>
                </div>
              </div>


              <button class="btn btn-primary  pull-right" type="submit">Filter</button>
              <%= link_to "Clear Filter", admin_manage_staff_path, class: "btn btn-primary-clear pull-right" %>
              </div>

            <% end %>
        <div class="table-responsive">
          <div id="detailedTable_wrapper" class="dataTables_wrapper form-inline no-footer"><table class="table table-hover table-condensed table-detailed dataTable no-footer" id="detailedTable" role="grid">
            <thead>
              <tr role="row">
              <th style="width:50%" rowspan="1" colspan="1">Name</th>
              <th style="width:25%" rowspan="1" colspan="1">Role</th>
              <th style="width:25%" rowspan="1" colspan="1">Division/ Tehsil</th>
              <th style="width:25%" rowspan="1" colspan="1">Edit</th>
              <th style="width:25%" rowspan="1" colspan="1">Delete</th>
              <th style="width:25%" rowspan="1" colspan="1">Status(enabled/ disabled)</th>
              </tr>
            </thead>
            <tbody>
              
              
            <tr role="row" class="odd">
              <% @staff.each do |member| %>
                <td class="v-align-middle semi-bold"><%= member.name %></td>
                <td class="v-align-middle semi-bold"><%= member.role_name %></td>
                <td class="v-align-middle semi-bold"><%= member.place_name %></td>
                <td class="v-align-middle"><%= link_to '<i class="fa fa-wrench"></i>'.html_safe , admin_edit_staff_path(staff_id: member.id), remote: true %></td>
                <td class="v-align-middle"><%= link_to '<i class="fa fa-trash"></i>'.html_safe , admin_delete_staff_path(staff_id: member.id) %></td>
                <td> <input type="checkbox" data-init-plugin="switchery" data-size="small" class="switch" data-color="success" data-id="<%= member.id %>" <%= member.get_status_html %> />
            </td>
              </tr>

            <% end %>
              </tbody>
          </table></div>
        </div>
      </div>
    </div>
    <!-- END PANEL -->
  </div>
</div>  

<script type="text/javascript">
   $('#division').change(function() {
        $.ajax({
           url: "/admin/update_districts", // this will be routed
           type: 'GET',
           data: {
             division: $("#division").val()
           },
           async: true,
           dataType: "json",
           error: function(XMLHttpRequest, errorTextStatus, error){
                      alert("Failed: "+ errorTextStatus+" ;"+error);
                  },
           success: function(data){
              // here we iterate the json result
              document.getElementById('district').innerHTML = "";
              document.getElementById('tehsil').innerHTML = "";

              for(var i in data)
              {
                var id = data[i].id;
                var title = data[i].name;
                $("#district").append(new Option(title, id));
              }        
              $('#district').trigger("change");
           }
         });
      });

   $('#district').change(function() {
        $.ajax({
           url: "/admin/update_tehsils", // this will be routed
           type: 'GET',
           data: {
             district_id: $("#district").val()
           },
           async: true,
           dataType: "json",
           error: function(XMLHttpRequest, errorTextStatus, error){
                      alert("Failed: "+ errorTextStatus+" ;"+error);
                  },
           success: function(data){
              // here we iterate the json result
              document.getElementById('tehsil').innerHTML = "";

              for(var i in data)
              {
                var id = data[i].id;
                var title = data[i].name;
                $("#tehsil").append(new Option(title, id));
              }        
              // $('#tehsil1').trigger("change");
           }
         });
      });


</script>

