<div class="row">
  
<div class="col-md-10 col-md-offset-1">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <h2>Student Assessment 
        <% if @std.is_follow_up %>
        <small>(followup)</small
        <% end %></h2>
      </div>
      <div class="panel-body">

        <div class="table-responsive">
          <div id="detailedTable_wrapper" class="dataTables_wrapper form-inline no-footer"><table class="table table-hover table-condensed table-detailed dataTable no-footer" id="detailedTable" role="grid">
            <thead>
              <tr role="row">
              <th style="width:45%" rowspan="1" colspan="1">Check</th>
              <th style="width:20%" rowspan="1" colspan="1">Results</th>
             

              </tr>
            </thead>
            <tbody>
              
              
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">BMI</td>
                <td class="v-align-middle semi-bold"><%= @std.bmi %> </td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Anemia </td>
                <td class="v-align-middle semi-bold"><%= @std.anemia %> </td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Physical Deformities </td>
                <td class="v-align-middle semi-bold"><%= @std.physical_deformities %> </td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Hearing Problem</td>
                <td class="v-align-middle semi-bold"><%= @std.hearing_problem %> </td>
                
            </tr>

             <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Ear Problem</td>
                <td class="v-align-middle semi-bold"><%= @std.ear_problem %> </td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Vision </td>
                <td class="v-align-middle semi-bold"><%= @std.vision %> </td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Eye Problem</td>
                <td class="v-align-middle semi-bold"><%= @std.eye_problem %> </td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Respiratory infection</td>
                <td class="v-align-middle semi-bold"><%= @std.respiratory_infection %> </td>
                
            </tr><tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Skin Problem</td>
                <td class="v-align-middle semi-bold"><%= @std.skin_problem %></td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Trauma & Physical Injuries</td>
                <td class="v-align-middle semi-bold"><%= @std.trauma_physical_injuries %></td>
                
            </tr>
           
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Jaundice</td>
                <td class="v-align-middle semi-bold"><%= @std.jaundice %></td>
                
            </tr>

             <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Facial Puffiness</td>
                <td class="v-align-middle semi-bold"><%= @std.facial_puffiness %></td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Edema</td>
                <td class="v-align-middle semi-bold"><%= @std.edema %></td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Menta Disability</td>
                <td class="v-align-middle semi-bold"><%= @std.mental_dissability %></td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">HO Immunization</td>
                <td class="v-align-middle semi-bold"><%= @std.ho_immunisation %></td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">HO Allergy</td>
                <td class="v-align-middle semi-bold"><%= @std.ho_allergy %></td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">HO Hospitalization</td>
                <td class="v-align-middle semi-bold"><%= @std.ho_hospitalisation %></td>
                
            </tr>
            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Dental Problem</td>
                <td class="v-align-middle semi-bold"><%= @std.dental_problem %></td>
                
            </tr>
           
             <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Parent Counciling Required</td>
                <td class="v-align-middle semi-bold"><%= @std.parent_counciling_required %></td>
                
            </tr>
             <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Parent Counciling Date</td>
                <td class="v-align-middle semi-bold"><%= @std.parent_counciling_date %></td>
                
            </tr>

            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Student Referred</td>
                <td class="v-align-middle semi-bold"><%= @std.student_referred %></td>
                
            </tr>

             <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Body Nits</td>
                <td class="v-align-middle semi-bold"><%= @std.body_nits %></td>
                
            </tr>

            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Lice In hair</td>
                <td class="v-align-middle semi-bold"><%= @std.lice_in_hair %></td>
                
            </tr>

            <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Is followup</td>
                <td class="v-align-middle semi-bold"><%= @std.is_follow_up ? "Yes" : "no" %></td>
                
            </tr>

             <tr role="row" class="odd">
              
                <td class="v-align-middle semi-bold">Comments</td>
                <td class="v-align-middle semi-bold"><%= @std.comments %></td>
                
            </tr>


              </tbody>
          </table></div>
        </div>
      </div>
    </div>
    <!-- END PANEL -->
  </div>
</div>  
