<div class="modal fade slide-up disable-scroll" id="modalSlideUp" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog ">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <div class="modal-header clearfix text-left">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
          </button>
          <h5>New <span class="semi-bold">Tehsil</span></h5>
        </div>
        <div class="modal-body">
               <%= form_tag admin_create_new_tehsil_path , :multipart => true ,role: "form",method: :post, novalidate: "novalidate", autocomplete: "off", id: "form-personal" do %>

          <% if flash[:alert].present? %>
            <div class="row clearfix">

              <div class="alert <%= flash[:alert_class] %>" role="alert">
                <button class="close" data-dismiss="alert"></button>
                <strong><%= flash[:alert_start] %>: </strong><%= flash[:alert] %>
              </div>
            </div>

          <% end %>
          <div class="row clearfix">
            <div class="col-sm-12">
              <div class="form-group form-group-default required" aria-required="true">
                <label>Tehsil name</label>
                <input type="text" class="form-control" name="name" required="" aria-required="true" >
              </div>
            </div>
            </div> 

            <div class="row clearfix">
              <div class="col-sm-12">
              <div class="form-group form-group-default required" aria-required="true">
                <label>Select Division</label>
                  <%= select_tag 'district',  options_from_collection_for_select(District.all,"id","name_with_division"),class: "form-control", required: "" %>
              </div>
            </div>
            </div>
          
          <div class="clearfix"></div>
          <button class="btn btn-primary" type="submit">Add Tehsil</button>
        <% end %>

          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
</div>
