<div class="row">
  
<div class="col-md-10 col-md-offset-1">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
      <div class="panel-heading">
        <div class="panel-title"> <h1> <%= (!params[:division].present? && !params[:district].present?) ? "All Tehsils" : "Tehsils in selected Division/ District" %> </h1>
        </div>
      </div>
      <div class="panel-body">

          <%= form_tag admin_manage_tehsils_path , :multipart => true ,role: "form",method: :get, novalidate: "novalidate", autocomplete: "off", id: "form-personal" do %>

             
              <div class="row">
                 
                <div class="col-sm-3">
                <div class="form-group form-group-default " >
                  <label>Select Division</label>
                    <%= select_tag 'division',  content_tag(:option,'No Filter',:value=>"") +options_from_collection_for_select(Division.all,"id","name", params[:division]),class: "form-control", required: "", id: "division" %>
                </div>
              </div>
            
              <div class="col-sm-3">
                <div class="form-group form-group-default " >
                  <label>Select District</label>
                    <%= select_tag 'district', content_tag(:option,'No Filter',:value=>"") + options_from_collection_for_select(District.all,"id","name",params[:district]),class: "form-control", required: "", id: "district" %>
                </div>
              </div>

              </div>
              <div class="clearfix"></div>
              <button class="btn btn-primary" type="submit">Filter</button>
              <%= link_to "Clear Filter", admin_manage_tehsils_path, class: "btn btn-primary pull-right" %>
            <% end %>
        <div class="table-responsive">
          <div id="detailedTable_wrapper" class="dataTables_wrapper form-inline no-footer"><table class="table table-hover table-condensed table-detailed dataTable no-footer" id="detailedTable" role="grid">
            <thead>
              <tr role="row">
              <th style="width:50%" rowspan="1" colspan="1">Name</th>
              <th style="width:20%" rowspan="1" colspan="1">Division</th>
              <th style="width:20%" rowspan="1" colspan="1">District</th>
              <th style="width:20%" rowspan="1" colspan="1">UCs</th>
              <th style="width:20%" rowspan="1" colspan="1">Schools</th>
              <th style="width:10%" rowspan="1" colspan="1">Edit </th>
              <th style="width:10%" rowspan="1" colspan="1">Delete </th>

              </tr>
            </thead>
            <tbody>
              
              
            <tr role="row" class="odd">
              <% @tehsils.each do |tehsil| %>
                <td class="v-align-middle semi-bold"><%= tehsil.name %></td>
                <td class="v-align-middle semi-bold"><%= tehsil.division_name %></td>
                <td class="v-align-middle semi-bold"><%= tehsil.district_name %></td>
                <td class="v-align-middle">
                       <%= link_to admin_manage_ucs_path(tehsil: tehsil.id) do %>
                          <%= tehsil.ucs_count %>
                       <% end %>
                    </td>

                    <td class="v-align-middle">
                       <%= link_to admin_manage_schools_path(tehsil: tehsil.id) do %>
                          <%= tehsil.schools_count %>
                       <% end %>
                    </td>
                <td class="v-align-middle"><%= link_to '<i class="fa fa-wrench"></i>'.html_safe , admin_edit_tehsil_path(tehsil_id: tehsil.id), remote: true %></td>
                <td class="v-align-middle"><%= link_to '<i class="fa fa-trash"></i>'.html_safe , admin_delete_tehsil_path(teh_id: tehsil.id) %></td>
                
              </tr>
            <% end %>
              </tbody>
          </table>
          <div class="apple_pagination">
              <div class="page_info">
                <%= page_entries_info @tehsils %>
              </div>
              <%= will_paginate @tehsils, :container => false %>
            </div>
            </div>
        </div>
      </div>
    </div>
    <!-- END PANEL -->
  </div>
</div>  
<script type="text/javascript">
   $('#division').change(function() {
        $.ajax({
           url: "/admin/update_districts", // this will be routed
           type: 'GET',
           data: {
             division: $("#division").val()
           },
           async: true,
           dataType: "json",
           error: function(XMLHttpRequest, errorTextStatus, error){
                      alert("Failed: "+ errorTextStatus+" ;"+error);
                  },
           success: function(data){
              // here we iterate the json result
              document.getElementById('district').innerHTML = "";

              for(var i in data)
              {
                var id = data[i].id;
                var title = data[i].name;
                $("#district").append(new Option(title, id));
              }        
              // $('#tehsil1').trigger("change");
           }
         });
      });


</script>