<div class="bar">
              <div class="pull-right">
                <a href="#" class="padding-10 visible-xs-inline visible-sm-inline pull-right m-t-10 m-b-10 m-r-10 on" data-pages="horizontal-menu-toggle">
                  <i class=" pg-close_line"></i>
                </a>
              </div>
              <div class="bar-inner">
                <ul>
                  <li>
                    <%= link_to admin_dashboard_path do %>
                  <span class="title">Dashboard</span>
                <% end %>
                  </li>
                  <li class="classic">
                    <a href="javascript:;">
                   <span class="semi-bold">Data Management</span> <span class="arrow"></span>
                </a>
                    <ul class="classic">
                      <li class="">
                    <%= link_to "Divisions Management", admin_manage_divisions_path  %>
                    </li> 
                    <li class="">
                    <%= link_to "Districts Management", admin_manage_districts_path  %>
                    </li>
                    <li class="">
                    <%= link_to "Tehsils Management", admin_manage_tehsils_path  %>
                    </li>
                    <li class="">
                    <%= link_to "UC Management", admin_manage_ucs_path  %>
                    </li>
                    <li class="">
                    <%= link_to "School Management", admin_manage_schools_path  %>
                    </li>
                    </ul>
                  </li>
                  <li>
                    <%= link_to admin_manage_staff_path do %>
                      <span class="title">Manage Staff</span>
                    <% end %>
                  </li>
                  

          <li class="">
            <%= link_to admin_manage_shns_path do %>
              <span class="title">Manage SH&NS</span>
            <% end %>
          </li>
           <li class="classic">
                    <a href="javascript:;">
                   <span class="semi-bold">Reporting</span> <span class="arrow"></span>
                </a>
                <ul class="classic">
                  <li class="">
                <%= link_to "Export & View Child Health Data", admin_export_data_path  %>
                </li> 
                <li class="">
                <%= link_to "Export Report", admin_daily_school_visits_path  %>
                </li>
                 <li class="">
                <%= link_to admin_track_agents_path do %>
                    <span class="title">Staff Performance</span>
                  <% end %>
                </li>
                </ul>
              </li>
         
          
         
                </ul>
              </div>
            </div>

            <div class="clear-fix"></div>
<div class="row">
  <dir class="col-md-10 col-md-offset-1">
    
  <ul class="breadcrumb">
  <% count = 1 %>
  <% length = @links_list.try(:count) %>
  <% @links_list.each do |key, link| %>
    <li>
      <a href="<%= link %>" class="<%= count == length ? "active" : "" %>" > <%= key %></a>
    </li>
  <% count = count + 1 %>

    <% end %>

    </li>
  </ul>
  </dir>

</div>
  