 <div class="row">
<div class="col-md-8 col-md-offset-2">
<h1>Map Tracking</h1>
<!-- START PANEL -->
<div class="">
  <div class="">

    <%= form_tag admin_track_agents_path , :multipart => true ,role: "form",method: :get, novalidate: "novalidate", autocomplete: "off", id: "form-personal" do %>

      <% if flash[:alert].present? %>
        <div class="row clearfix">

          <div class="alert <%= flash[:alert_class] %>" role="alert">
            <button class="close" data-dismiss="alert"></button>
            <strong><%= flash[:alert_start] %>: </strong><%= flash[:alert] %>
          </div>
        </div>

      <% end %>
        <div class="row clearfix">
          <div class="col-sm-12">
          <div class="form-group form-group-default required" aria-required="true">
            <label>Select Type</label>
              <%= select_tag 'type', content_tag(:option,'Please Type Of Map',:value=>"") + options_for_select(MAP_TYPE),class: "form-control", required: "", id: "type" %>
          </div>
        </div>
        </div>

        <div class="row clearfix agent_select" style="display:none">
          <div class="col-sm-12">
          <div class="form-group form-group-default required" aria-required="true">
            <label>Select Type</label>
              <%= select_tag 'agent', content_tag(:option,'Please Select An Agent',:value=>"") + options_from_collection_for_select(Agent.all,"id","username"),class: "form-control", required: "" %>
          </div>
        </div>
        </div>


      
      <div class="clearfix"></div>
      <button class="btn btn-primary" type="submit">Go</button>
    <% end %>
  </div>
</div>
<!-- END PANEL -->
</div>
</div>
<div class="clearfix"><br/></div>
<script type="text/javascript">
   $(document).ready(function(){
  $("#type").on("change",function(){
    if($("#type").val() == '1')
      $(".agent_select").show();
    else
      $(".agent_select").hide();
  });
  });
</script> 