<div class=" pull-right">
          <!-- START User Info-->
          <div class="visible-lg visible-md m-t-10">
            <div class="pull-left p-r-10 p-t-10 fs-16 font-heading">
              <span class="semi-bold"><%= @admin.name %></span>
            </div>
            <div class="dropdown pull-right">
              <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="thumbnail-wrapper d32 circular inline m-t-5">
                <img src="/assets/img/profiles/admin.png" alt="" data-src="/assets/img/profiles/admin.png" data-src-retina="//assets/img/profiles/avatar_small2x.jpg" width="32" height="32">
            </span>
              </button>
              <ul class="dropdown-menu profile-dropdown" role="menu">
                <li class="">
                	<%= link_to admin_settings_path, class: "clearfix" do %>
						<i class="pg-settings_small"></i> Settings
                   <% end %>

                </li>
                <li class="bg-master-lighter">
                  <%= link_to admin_logout_path, class: "clearfix" do %>
                    <span class="pull-left">Logout</span>
                    <span class="pull-right"><i class="pg-power"></i></span>
                   <% end %>
                </li>
              </ul>
            </div>
          </div>
          <!-- END User Info-->
        </div>