follow<!DOCTYPE html>
<html>
  <%= render 'head' %>
  <body class="fixed-header dashboard horizontal-menu">
    <!-- START PAGE-CONTAINER -->
    <div class="page-container ">
      <!-- START HEADER -->
      <div class="header ">
        <!-- START MOBILE CONTROLS -->
        <div class="container-fluid relative">
          <!-- LEFT SIDE -->
          <div class="pull-left full-height visible-sm visible-xs">
            <!-- START ACTION BAR -->
            <div class="header-inner">
              <a href="#" class="btn-link toggle-sidebar visible-sm-inline-block visible-xs-inline-block padding-5" data-toggle="sidebar">
                <span class="icon-set menu-hambuger"></span>
              </a>
            </div>
            <!-- END ACTION BAR -->
          </div>
          <div class="pull-center ">
            <div class="header-inner">
              <div class="brand inline">
                <img src="/assets/img/logo_2x.png" alt="logo" data-src="/assets/img/logo_2x.png" data-src-retina="/assets/img/logo_2x.jpeg" >
              </div>
            </div>
          </div>
          <!-- RIGHT SIDE -->
          <div class="pull-right full-height visible-sm visible-xs">
            <!-- START ACTION BAR -->
            <div class="header-inner">
              <a href="#" class="btn-link visible-sm-inline-block visible-xs-inline-block" data-toggle="quickview" data-toggle-element="#quickview">
                <span class="icon-set menu-hambuger-plus"></span>
              </a>
            </div>
            <!-- END ACTION BAR -->
          </div>
        </div>
        <!-- END MOBILE CONTROLS -->
        
        
        <%= render 'user_info' %>
      </div>
      <!-- END HEADER -->
      <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper ">
        <!-- START PAGE CONTENT -->
        <div class="content sm-gutter">
        <%= render 'top_bar' %>
          <!-- START CONTAINER FLUID -->
          <div class="container-fluid padding-25 sm-padding-10">
            <!-- START ROW -->
            <div class="row">
              <div class="col-md-4 col-lg-3 col-xlg-2 ">
            
              <div class="row">
                    <div class="col-md-12 m-b-10">
                      <!-- START WIDGET D3 widget_graphTileFlat-->
                      <div class="widget-8 panel no-border bg-white no-margin widget-loader-bar">
                        <div class="container-xs-height full-height">
                          <div class="row-xs-height">
                            <div class="col-xs-height col-top">
                              <div class="panel-heading top-left top-right">
                                <div class="panel-title text-black hint-text">
                                  <span class="font-montserrat fs-11 all-caps">Schools Visited Today <i
                                      class="fa fa-chevron-right"></i>
                                                      </span>
                                </div>
                                <div class="panel-controls">
                                  <ul>
                                    <li>
                                      <a data-toggle="refresh" class="portlet-refresh text-black" href="#"><i
                        class="portlet-icon portlet-icon-refresh"></i></a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row-xs-height ">
                            <div class="col-xs-height col-top relative">
                              <div class="row">
                                <div class="col-sm-6">
                                  <div class="p-l-20">
                                    <h3 class="no-margin p-b-5 text-black"><%= @total_schools_visited %> </h3>
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                </div>
                              </div>
                              <div class='widget-8-chart line-chart' data-line-color="black" data-points="true" data-point-color="success" data-stroke-width="2">
                                <svg></svg>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- END WIDGET -->
                    </div>
                  </div>
                </div>

            <div class="col-md-4 col-lg-3 col-xlg-2 ">
            
              <div class="row">
                    <div class="col-md-12 m-b-10">
                      <!-- START WIDGET D3 widget_graphTileFlat-->
                      <div class="widget-8 panel no-border bg-white no-margin widget-loader-bar">
                        <div class="container-xs-height full-height">
                          <div class="row-xs-height">
                            <div class="col-xs-height col-top">
                              <div class="panel-heading top-left top-right">
                                <div class="panel-title text-black hint-text">
                                  <span class="font-montserrat fs-11 all-caps">Total Students Assessed Today <i
                                      class="fa fa-chevron-right"></i>
                                                      </span>
                                </div>
                                <div class="panel-controls">
                                  <ul>
                                    <li><a href="#" class="portlet-refresh text-black" data-toggle="refresh"><i
                                      class="portlet-icon portlet-icon-refresh"></i></a>
                                  </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row-xs-height ">
                            <div class="col-xs-height col-top relative">
                              <div class="row">
                                <div class="col-sm-6">
                                  <div class="p-l-20">
                                    <h3 class="no-margin p-b-5"><%= @students_assesed_today || 0%></h3>
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                </div>
                              </div>
                              <div class='widget-8-chart line-chart' data-line-color="black" data-points="true" data-point-color="success" data-stroke-width="2">
                                <svg></svg>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- END WIDGET -->
                    </div>
                  </div>
                </div>
              <div class="col-md-4 col-lg-3 col-xlg-2 ">
                <div class="row">
                  <div class="col-md-12 m-b-10">
                    <!-- START WIDGET widget_progressTileFlat-->
                    <div class="widget-9 panel no-border bg-white no-margin widget-loader-bar">
                      <div class="container-xs-height full-height">
                        <div class="row-xs-height">
                          <div class="col-xs-height col-top">
                            <div class="panel-heading  top-left top-right">
                              <div class="panel-title text-black">
                                <span class="font-montserrat fs-11 all-caps">Followups Today<i
                                    class="fa fa-chevron-right"></i>
                                                    </span>
                              </div>
                              <div class="panel-controls">
                                <ul>
                                  <li><a href="#" class="portlet-refresh text-black" data-toggle="refresh"><i
                    class="portlet-icon portlet-icon-refresh"></i></a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row-xs-height">
                          <div class="col-xs-height col-top">
                            <div class="p-l-20 p-t-15">
                              <h3 class="no-margin p-b-5 "><%= @follow_ups_today %></h3>
                            </div>
                          </div>
                        </div>
                        <div class="row-xs-height">
                          
                        </div>
                      </div>
                    </div>
                    <!-- END WIDGET -->
                  </div>
                </div>
                </div>

                <div class="col-md-4 col-lg-3 col-xlg-2 ">
                <div class="row">
                  <div class="col-md-12 m-b-10">
                    <!-- START WIDGET widget_progressTileFlat-->
                    <div class="widget-9 panel no-border bg-white no-margin widget-loader-bar">
                      <div class="container-xs-height full-height">
                        <div class="row-xs-height">
                          <div class="col-xs-height col-top">
                            <div class="panel-heading  top-left top-right">
                              <div class="panel-title text-black">
                                <span class="font-montserrat fs-11 all-caps">Health Sessions Conduted Today<i
                                    class="fa fa-chevron-right"></i>
                                                    </span>
                              </div>
                              <div class="panel-controls">
                                <ul>
                                  <li><a href="#" class="portlet-refresh text-black" data-toggle="refresh"><i
                    class="portlet-icon portlet-icon-refresh"></i></a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row-xs-height">
                          <div class="col-xs-height col-top">
                            <div class="p-l-20 p-t-15">
                              <h3 class="no-margin p-b-5"><%= @health_sessions_conducted_today %></h3>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                    <!-- END WIDGET -->
                  </div>
                </div>
                </div>
          </div>
         
          </div>
          <div class="row">
             <div class="col-md-6 ">
               <div id="followups_chart" class="bg-white">
                </div>
                </div>
              <div class="col-md-6 ">
                <div id="student_assessed_chart" class="bg-white">
                </div>
             </div>
             <div class="clearfix"><br/><br/><br/></div>
             <div class="col-md-6">
                <div id="schools_visited_chart" class="bg-white">
                </div>
             </div>

             <div class="col-md-6">
                <div id="health_sessions_chart" class="bg-white">
                </div>
             </div>
<div class="clearfix"><br/><br/><br/></div>
             
             <div class="col-md-6">
                <div id="environmental_assesments_chart" class="bg-white">
                </div>
             </div>
             <div class="col-md-6">
            
            
<div id="map" width="200" height="200"></div>
    <script>
      var map;
      function initMap() {
        console.log(1);
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2,
          center: {lat: -33.865427, lng: 151.196123},
          mapTypeId: 'terrain'
        });

        var script = document.createElement('script');

        // This example uses a local copy of the GeoJSON stored at
        // http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_week.geojsonp
        script.src = 'https://developers.google.com/maps/documentation/javascript/examples/json/earthquake_GeoJSONP.js';
        document.getElementsByTagName('head')[0].appendChild(script);

        map.data.setStyle(function(feature) {
          var magnitude = feature.getProperty('mag');
          return {
            icon: getCircle(magnitude)
          };
        });
      }

      function getCircle(magnitude) {
        return {
          path: google.maps.SymbolPath.CIRCLE,
          fillColor: 'red',
          fillOpacity: .2,
          scale: Math.pow(2, magnitude) / 2,
          strokeColor: 'white',
          strokeWeight: .5
        };
      }

      function eqfeed_callback(results) {
        map.data.addGeoJson(results);
      }
      </script>
        <script  async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFE1knk_M_PrpIHtfEQGp0t-0hVFr1CXg&libraries=visualization&callback=initMap"></script>
          </div>
          </div>
          </div>
          <!-- END CONTAINER FLUID -->
        </div>
       <%= render 'copyright' %>
      </div>
      <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTAINER -->
  <%= render 'foot_js'  %>
  <script src="http://code.highcharts.com/highcharts.js"></script>
 </body>
</html>