Highcharts.chart('dailY_sum_container', {
    chart: {
        type: 'column'
    },
    title: {
        text: '<%= @text_day_wise_sum %>'
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        type: 'category'
    },
    yAxis: {
        title: {
            text: '<%= @yAxis %>'
        }

    },
    legend: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y}'
            }
        }
    },

    tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b> of total<br/>'
    },

    series: [{
        name: 'Dates',
        colorByPoint: true,
        data: <%= @results_day_wise.to_json.html_safe %>
    }]
});

Highcharts.chart('dailY_avg_container', {
    chart: {
        type: 'column'
    },
    title: {
        text: '<%= @text_day_wise_sum_avg %>'
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        type: 'category'
    },
    yAxis: {
        title: {
            text: '<%= @yAxis %>'
        }

    },
    legend: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y}'
            }
        }
    },

    tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b> of total<br/>'
    },

    series: [{
        name: 'Dates',
        colorByPoint: true,
        data: <%= @results_day_wise_avg.to_json.html_safe %>
    }]
});


Highcharts.chart('time_of_day_sum_container', {
    chart: {
        type: 'column'
    },
    title: {
        text: '<%= @text_time_of_day_wise_sum %>'
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        type: 'category'
    },
    yAxis: {
        title: {
            text: '<%= @yAxis %>'
        }

    },
    legend: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y}'
            }
        }
    },

    tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b> of total<br/>'
    },

    series: [{
        name: 'Dates',
        colorByPoint: true,
        data: <%= @results_time_of_day_wise.to_json.html_safe %>
    }]
});


Highcharts.chart('time_of_day_avg_container', {
    chart: {
        type: 'column'
    },
    title: {
        text: '<%= @text_time_of_day_wise_avg %>'
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        type: 'category'
    },
    yAxis: {
        title: {
            text: '<%= @yAxis %>'
        }

    },
    legend: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y}'
            }
        }
    },

    tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b> of total<br/>'
    },

    series: [{
        name: 'Dates',
        colorByPoint: true,
        data: <%= @results_time_of_day_wise_avg.to_json.html_safe %>
    }]
});
Highcharts.chart('date_wise_avg', {
    chart: {
        type: 'area'
    },
    title: {
        text: '<%= @text_day_wise_sum_avg %>'
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        allowDecimals: false,
        labels: {
            formatter: function () {
                return this.value; // clean, unformatted number for year
            }
        }
    },
    yAxis: {
        title: {
            text: '<%= @yAxis %>'
        },
        labels: {
            formatter: function () {
                return this.value / 1000 + 'k';
            }
        }
    },
   tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b> of total<br/>'
    },

    plotOptions: {
        area: {
            marker: {
                enabled: false,
                symbol: 'circle',
                radius: 2,
                states: {
                    hover: {
                        enabled: true
                    }
                }
            }
        }
    },
    series: [{
        name: 'Day Wise Average',
        data: <%= @results_date_wise_avg.to_json.html_safe %>
    }]
});