<!DOCTYPE html>
<html>
  <%= render 'head' %>
  <body class="fixed-header dashboard horizontal-menu">
    <!-- START PAGE-CONTAINER -->
    <div class="page-container ">
      <!-- START HEADER -->
      <div class="header ">
        <!-- START MOBILE CONTROLS -->
        <div class="container-fluid relative">
          <!-- LEFT SIDE -->
          <div class="pull-left full-height visible-sm visible-xs">
            <!-- START ACTION BAR -->
            <div class="header-inner">
              <a href="#" class="btn-link toggle-sidebar visible-sm-inline-block visible-xs-inline-block padding-5" data-toggle="sidebar">
                <span class="icon-set menu-hambuger"></span>
              </a>
            </div>
            <!-- END ACTION BAR -->
          </div>
          <div class="pull-center ">
            <div class="header-inner">
              <div class="brand inline">
                <img src="/assets/img/logo_2x.png" alt="logo" data-src="/assets/img/logo_2x.png" data-src-retina="/assets/img/logo_2x.jpeg" >
              </div>
            </div>
          </div>
          <!-- RIGHT SIDE -->
          <div class="pull-right full-height visible-sm visible-xs">
            <!-- START ACTION BAR -->
            <div class="header-inner">
              <a href="#" class="btn-link visible-sm-inline-block visible-xs-inline-block" data-toggle="quickview" data-toggle-element="#quickview">
                <span class="icon-set menu-hambuger-plus"></span>
              </a>
            </div>
            <!-- END ACTION BAR -->
          </div>
        </div>
        <!-- END MOBILE CONTROLS -->
        <%= render 'user_info' %>
      </div>
      <!-- END HEADER -->
      <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper ">
        <!-- START PAGE CONTENT -->
        <div class="content sm-gutter">
        <%= render 'top_bar' %>
          <!-- START CONTAINER FLUID -->
          <div class="container-fluid padding-25 sm-padding-10">
            <div class="row">
          <div class="col-md-12">
            <div class="clearfix"><br/></div>
          </div>
           <div class="col-md-2 col-md-offset-8">
              <button class="btn btn-primary btn-block pull-right bottom-right" id="modal_toggle">Add New</button>
            </div>
            
           
          </div>

            <%= render 'school_tables' %>

          </div>
          <!-- END CONTAINER FLUID -->
        </div>
       <%= render 'copyright' %>
      </div>
      <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTAINER -->
  <%= render 'foot_js'  %>
  <%= render 'school_form' %>

  <script type="text/javascript">
  $(document).ready(function(){


       $('#modal_toggle').click(function() {
          var size = $('input[name=slideup_toggler]:checked').val()
          var modalElem = $('#modalSlideUp');
          if (size == "mini") {
              $('#modalSlideUpSmall').modal('show')
          } else {
              $('#modalSlideUp').modal('show')
              if (size == "default") {
                  modalElem.children('.modal-dialog').removeClass('modal-lg');
              } else if (size == "full") {
                  modalElem.children('.modal-dialog').addClass('modal-lg');
              }
          }
      });
   });

  </script>
 </body>
</html>