<!DOCTYPE html>
<html>
  <%= render 'head' %>
  <body class="fixed-header dashboard  horizontal-menu">
 
    <!-- START PAGE-CONTAINER -->
    <div class="page-container ">
      <!-- START HEADER -->
      <div class="header ">
        <!-- START MOBILE CONTROLS -->
        <div class="container-fluid relative">
          <!-- LEFT SIDE -->
          <div class="pull-left full-height visible-sm visible-xs">
            <!-- START ACTION BAR -->
            
            <!-- END ACTION BAR -->
          </div>
          <div class="pull-center ">
            <div class="header-inner">
              <div class="brand inline">
                <img src="/assets/img/logo_2x.png" alt="logo" data-src="/assets/img/logo_2x.png" data-src-retina="/assets/img/logo_2x.jpeg" >
              </div>
            </div>
          </div>
          <!-- RIGHT SIDE -->
          <div class="pull-right full-height visible-sm visible-xs">
            <!-- START ACTION BAR -->
            <div class="header-inner">
              <a href="#" class="btn-link visible-sm-inline-block visible-xs-inline-block" data-toggle="quickview" data-toggle-element="#quickview">
                <span class="icon-set menu-hambuger-plus"></span>
              </a>
            </div>
            <!-- END ACTION BAR -->
          </div>
        </div>
        <!-- END MOBILE CONTROLS -->
        <%= render 'user_info' %>
      </div>
      <!-- END HEADER -->
      <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper ">
        <!-- START PAGE CONTENT -->

        <div class="content sm-gutter">
         <%= render 'top_bar' %>
          <!-- START CONTAINER FLUID -->
          <div class="container-fluid padding-25 sm-padding-10">
            <div class="row">
               <div class="col-md-12 ">
                <div class="panel panel-transparent ">
                      <!-- Nav tabs -->
                      <ul class="nav nav-tabs nav-tabs-fillup" data-init-reponsive-tabs="dropdownfx">
                        <li class="active">
                          <a data-toggle="tab" href="#tab-fillup1"><span>Data Entry</span></a>
                        </li>
                        <li>
                          <a data-toggle="tab" href="#tab-fillup2"><span>Movement Tracking</span></a>
                        </li>
                        <li>
                          <a data-toggle="tab" href="#tab-fillup4"><span>Planning Report</span></a>
                        </li>
                        </li>
                      </ul>
                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div class="tab-pane active" id="tab-fillup1">
                          <%= render "performance_data_entry" %>
                          
                        </div>
                        <div class="tab-pane" id="tab-fillup2">
                            <%= render "performance_movement_tracking" %>
                        </div>

                        <div class="tab-pane" id="tab-fillup4">
                            <%= render "planning_report" %>
                        </div>
                        
                      </div>
                    </div>
               </div>


          </div>
          <!-- END CONTAINER FLUID -->
        </div>
       <%= render 'copyright' %>
      </div>
      <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTAINER -->
  <%= render 'foot_js'  %>
         
 </body>
</html>