$("#total_schools_assesed_count").html(<%= @total_schools_assessed %>);
$("#total_child_screenings_count").html(<%= @total_child_screenings%>);
$("#total_school_health_meetings_count").html(<%= @total_school_health_meetings %>);
$("#total_follow_up_marks_count").html(<%= @total_followup_marks %>);
$("#total_follow_up_late_count").html(<%= @total_followups_not_completed_by_due_date %>);
$("#total_follow_up_completed_count").html(<%= @total_followups_completed %>);
$("#parents_councelling_sessions_count").html(<%= @total_parent_councelling_sessions %>);
$("#daily_plans_count").html(<%= @total_daily_plans_followed %>);
$("#daily_plans_not_followed_count").html(<%= @total_daily_plans_not_followed %>);