<div class="container-fluid container-fixed-lg">
            <div class="row">
              <div class="col-md-10 col-offset-md-2">
                <!-- START PANEL -->
                <div class="panel panel-transparent">
                  <div class="panel-heading">
                    <div class="panel-title">Community Daily Report
                    </div>
                    <div class="tools">
                      <a class="collapse" href="javascript:;"></a>
                      <a class="config" data-toggle="modal" href="#grid-config"></a>
                      <a class="reload" href="javascript:;"></a>
                      <a class="remove" href="javascript:;"></a>
                    </div>
                  </div>
                  <div class="panel-body" >
                    <div class="table-responsive" style="border:none;">
                      <table class="table table-striped" id="stripedTable">
                        <thead>
                        </thead>
                        <tr>
                          <td>Date</td>
                          <td><%= Date.today %></td>
                          <td>Name of Sh & NS</td>
                          <td><%= "_________" %></td>
                          <td>Contact No</td>
                          <td><%= "Contact No" %></td>
                        </tr>
                        <tr>
                          <td>LHW Name</td>
                          <td><%= "______" %></td>
                          <td>LHW Contact No</td>
                          <td><%= "_________" %></td>
                          <td>Name of U.C/ Tehsil No</td>
                          <td><%= "_______" %></td>
                        </tr>
                      </table>
                      </div>
                      <br/>
                      <div class="table-responsive" style="border:none;">
                      <table class="table table-striped" id="stripedTable">
                        <thead>
                       
                        </thead>
                        <tbody>
                        <tr style="font-size: 13px !important;
                        color: black;
                        font-weight: bold;
                        text-align: center;">
                          <td >Sr No.</td>
                          <td width="60%">Indicators</td>
                          <td colspan="3"><div class="row">
                              <div class="col-md-12" style="border-bottom: 1px solid black; padding: 2px;"><center>Numbers</center></div>
                              <div class="col-md-4" style=" padding: 2px;">M</div>
                              <div class="col-md-4" style="border-left: 1px solid black; padding: 2px;">F</div>
                              <div class="col-md-4" style="border-left: 1px solid black; padding: 2px;">Total</div>

                          </div></td>
                        </tr>
                       
                        <tr>
                          <td>1</td>
                          <td width="60%" >Total No. of Home Visited/Day</td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                        </tr>

                        <tr>
                          <td>2</td>
                          <td width="60%" >Total No. of Children Screened/Day</td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                        </tr>

                        <tr>
                          <td>3</td>
                          <td width="60%" >Total No. of Children Referred/Day</td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                        </tr>


                        <tr>
                          <td>4</td>
                          <td width="60%" >Total No. of Followup Cases/Day</td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                        </tr>

                        <tr>
                          <td>5</td>
                          <td width="60%" colspan="3">Total No. of Health Education Sessions Conducted/Day</td>
                          <td><%= "__" %></td>
                        </tr>

                         </tbody>

                      </table>
                    </div>
                      <br/>
                      <div class="table-responsive" style="border:none;">
                      <center style="color:black;"><strong><u>DETAILS OF HEALTH ISSUES IDENTIFIED</u></strong></center>
                      <table class="table table-striped" id="stripedTable">
                        <thead>
                        <th>Sr No.</th>
                        <th width="60%">Condition</th>
                        <th>M</th>
                        <th>F</th>
                        <th>Total</th>
                        </thead>
                        <tbody>

                        <tr>
                          <td>1</td>
                          <td width="60%" >Anemia</td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                        </tr>

                        <tr>
                          <td>2</td>
                          <td width="60%" >Jaundice</td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                        </tr>


                        <tr>
                          <td>3</td>
                          <td width="60%" >Facial Puffiness</td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                        </tr>

                        <tr>
                          <td>4</td>
                          <td width="60%" >Edema</td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                        </tr>

                        <tr>
                          <td>5</td>
                          <td width="60%" >Other Physical Deformities</td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                        </tr>

                        <tr>
                          <td>6</td>
                          <td width="60%" >Mental Disability Identification</td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                        </tr>

                        <tr>
                          <td>7</td>
                          <td width="60%" >Hearing Problem</td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                        </tr>


                        <tr>
                          <td>8</td>
                          <td width="60%" >Other Ear Problem</td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                        </tr>


                        <tr>
                          <td>9</td>
                          <td width="60%" >Vision, weak indecator( count on weak) , normal vision</td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                        </tr>


                        <tr>
                          <td>10</td>
                          <td width="60%" >Other Eye Problem</td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                        </tr>


                        <tr>
                          <td>11</td>
                          <td width="60%" >Acute Respiratory Infection</td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                        </tr>


                        <tr>
                          <td>12</td>
                          <td width="60%" >Skin Problem</td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                        </tr>

                        <tr>
                          <td>13</td>
                          <td width="60%" >Evidence of Trauma / Physical Injuries</td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                        </tr>

                        <tr>
                          <td>14</td>
                          <td width="60%" >HO Immunisation</td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                        </tr>

                        <tr>
                          <td>15</td>
                          <td width="60%" >HO Allergy</td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                        </tr>

                        <tr>
                          <td>16</td>
                          <td width="60%" >HO Hospitalisation</td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                        </tr>
                        
                         <tr>
                          <td>17</td>
                          <td width="60%" >BMI</td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                        </tr>

                         </tbody>

                      </table>
                    </div>
                    <br/>
                     <div class="table-responsive" style="border:none;">
                      <table class="table" id="stripedTable">
                        <thead>
                        </thead>
                        <tr>
                          <td>Signature</td>
                          <td><%= "________"%></td>

                          <td>Signature</td>
                          <td><%= "________"%></td>
                        </tr>

                        <tr>
                          <td></td>
                          <td>Lady Health Worker</td>

                          <td></td>
                          <td>School Health & Nutrition Supervisor</td>
                        </tr>


                        <tr>
                          <td>Date</td>
                          <td><%= "________"%></td>

                          <td>Date</td>
                          <td><%= "________"%></td>
                        </tr>

                        
                      </table>
                      </div>
                  </div>
                </div>
          </div>
    </div>
</div>