<div class="container-fluid container-fixed-lg">
            <div class="row">
              <div class="col-md-10 col-offset-md-2">
                <!-- START PANEL -->
                <div class="panel panel-transparent">
                  <div class="panel-heading">
                    <div class="panel-title">Schools Visit Report <%= ":" + @school.name if @school.present? %>
                    </div>
                    <div class="tools">
                      <a class="collapse" href="javascript:;"></a>
                      <a class="config" data-toggle="modal" href="#grid-config"></a>
                      <a class="reload" href="javascript:;"></a>
                      <a class="remove" href="javascript:;"></a>
                    </div>
                  </div>
                  <div class="panel-body" >
                    <div class="table-responsive" style="border:none;">
                      <table class="table table-striped" id="stripedTable">
                        <thead>
                        </thead>
                        <tr>
                          <td>Date</td>
                          <td><%= Date.today %></td>
                          <td>Name of Sh & NS</td>
                          <td><%= @shns || "NA" %></td>
                          <td>Contact No</td>
                          <td><%= "Contact No" %></td>
                        </tr>
                        <tr>
                         
                          <td>Name of U.C/ Tehsil No</td>
                          <td><%= @uc_tehsil.try(:name) || "NA" %></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      </table>
                      </div>
                      <br/>
                      <div class="table-responsive" style="border:none;">
                      <table class="table table-striped" id="stripedTable">
                        <thead>
                       
                        </thead>
                        <tbody>
                        <tr style="font-size: 13px !important;
                        color: black;
                        font-weight: bold;
                        text-align: center;">
                          <td >Sr No.</td>
                          <td width="60%">Indicators</td>
                          <td colspan="3"><div class="row">
                              <div class="col-md-12" style="border-bottom: 1px solid black; padding: 2px;"><center>Numbers</center></div>
                              <div class="col-md-4" style=" padding: 2px;">M</div>
                              <div class="col-md-4" style="border-left: 1px solid black; padding: 2px;">F</div>
                              <div class="col-md-4" style="border-left: 1px solid black; padding: 2px;">Total</div>

                          </div></td>
                        </tr>
                       
                        <tr>
                          <td>1</td>
                          <td width="60%" >Total No. of School Visited/Day</td>
                          <td><%= "" %></td>
                          <td><%= "" %></td>
                          <td><%= @school_visited %></td>
                        </tr>

                        <tr>
                          <td>2</td>
                          <td width="60%" >Total No. of Children Screened/Day</td>
                          <td><%= @children_screened_today.female.count %></td>
                          <td><%= @children_screened_today.male.count %></td>
                          <td><%= @children_screened_today.count %></td>
                        </tr>

                        <tr>
                          <td>4</td>
                          <td width="60%" >Total No. of Followup Cases/Day</td>
                          <td><%= "" %></td>
                          <td><%= "" %></td>
                          <td><%= @follow_ups_today.count %></td>
                        </tr>

                        <tr>
                          <td>5</td>
                          <td width="60%" colspan="3">Total No. of Health Education Sessions Conducted/Day</td>
                          <td><%= HealthEducationSession.sessions_conducted_today.count %></td>
                        </tr>

                         </tbody>

                      </table>
                    </div>

                    <br/>
                      <div class="table-responsive" style="border:none;">
                      <center style="color:black;"><strong><u>DETAILS OF HEALTH ISSUES IDENTIFIED</u></strong></center>
                      <table class="table table-striped" id="stripedTable">
                        <thead>
                        <th>Sr No.</th>
                        <th width="60%">Condition</th>
                        <th>M</th>
                        <th>F</th>
                        <th>Total</th>
                        </thead>
                        <tbody>
                        <tr>
                          <td>1</td>
                          <td width="60%" >Anemia</td>
                          <td><%=  @heatlhs_screenings.anemia.male.count  %></td>
                          <td><%= @heatlhs_screenings.anemia.female.count %></td>
                          <td><%= @heatlhs_screenings.anemia.count %></td>
                        </tr>

                        <tr>
                          <td>2</td>
                          <td width="60%" >Jaundice</td>
                          <td><%=  @heatlhs_screenings.jaundice.male.count  %></td>
                          <td><%= @heatlhs_screenings.jaundice.female.count %></td>
                          <td><%= @heatlhs_screenings.jaundice.count %></td>
                        </tr>


                        <tr>
                          <td>3</td>
                          <td width="60%" >Facial Puffiness</td>
                          <td><%=  @heatlhs_screenings.facial_puffiness.male.count  %></td>
                          <td><%= @heatlhs_screenings.facial_puffiness.female.count %></td>
                          <td><%= @heatlhs_screenings.facial_puffiness.count %></td>
                        </tr>

                        <tr>
                          <td>4</td>
                          <td width="60%" >Edema</td>
                          <td><%=  @heatlhs_screenings.edema.male.count  %></td>
                          <td><%= @heatlhs_screenings.edema.female.count %></td>
                          <td><%= @heatlhs_screenings.edema.count %></td>
                        </tr>

                        <tr>
                          <td>5</td>
                          <td width="60%" >Other Physical Deformities</td>
                          <td><%=  @heatlhs_screenings.physical_deformities.male.count  %></td>
                          <td><%= @heatlhs_screenings.physical_deformities.female.count %></td>
                          <td><%= @heatlhs_screenings.physical_deformities.count %></td>
                        </tr>

                        <tr>
                          <td>6</td>
                          <td width="60%" >Mental Disability Identification</td>
                          <td><%=  @heatlhs_screenings.mental_dissability.male.count  %></td>
                          <td><%= @heatlhs_screenings.mental_dissability.female.count %></td>
                          <td><%= @heatlhs_screenings.mental_dissability.count %></td>
                        </tr>

                        <tr>
                          <td>7</td>
                          <td width="60%" >Hearing Problem</td>
                          <td><%=  @heatlhs_screenings.hearing_problem.male.count  %></td>
                          <td><%= @heatlhs_screenings.hearing_problem.female.count %></td>
                          <td><%= @heatlhs_screenings.hearing_problem.count %></td>
                        </tr>


                        <tr>
                          <td>8</td>
                          <td width="60%" >Other Ear Problem</td>
                          <td><%=  @heatlhs_screenings.ear_problem.male.count  %></td>
                          <td><%= @heatlhs_screenings.ear_problem.female.count %></td>
                          <td><%= @heatlhs_screenings.ear_problem.count %></td>
                        </tr>


                        <tr>
                          <td>9</td>
                          <td width="60%" >Weak Vision</td>
                          <td><%=  @heatlhs_screenings.vision.male.count  %></td>
                          <td><%= @heatlhs_screenings.vision.female.count %></td>
                          <td><%= @heatlhs_screenings.vision.count %></td>
                        </tr>


                        <tr>
                          <td>10</td>
                          <td width="60%" >Other Eye Problem</td>
                          <td><%=  @heatlhs_screenings.eye_problem.male.count  %></td>
                          <td><%= @heatlhs_screenings.eye_problem.female.count %></td>
                          <td><%= @heatlhs_screenings.eye_problem.count %></td>
                        </tr>


                        <tr>
                          <td>11</td>
                          <td width="60%" >Acute Respiratory Infection</td>
                          <td><%=  @heatlhs_screenings.respiratory_infection.male.count  %></td>
                          <td><%= @heatlhs_screenings.respiratory_infection.female.count %></td>
                          <td><%= @heatlhs_screenings.respiratory_infection.count %></td>
                        </tr>


                        <tr>
                          <td>12</td>
                          <td width="60%" >Skin Problem</td>
                          <td><%=  @heatlhs_screenings.skin_problem.male.count  %></td>
                          <td><%= @heatlhs_screenings.skin_problem.female.count %></td>
                          <td><%= @heatlhs_screenings.skin_problem.count %></td>
                        </tr>

                        <tr>
                          <td>13</td>
                          <td width="60%" >Evidence of Trauma / Physical Injuries</td>
                          <td><%=  @heatlhs_screenings.trauma_physical_injuries.male.count  %></td>
                          <td><%= @heatlhs_screenings.trauma_physical_injuries.female.count %></td>
                          <td><%= @heatlhs_screenings.trauma_physical_injuries.count %></td>
                        </tr>

                        <tr>
                          <td>14</td>
                          <td width="60%" >HO Immunisation</td>
                          <td><%=  @heatlhs_screenings.ho_immunisation.male.count  %></td>
                          <td><%= @heatlhs_screenings.ho_immunisation.female.count %></td>
                          <td><%= @heatlhs_screenings.ho_immunisation.count %></td>
                        </tr>

                        <tr>
                          <td>15</td>
                          <td width="60%" >HO Allergy</td>
                          <td><%=  @heatlhs_screenings.ho_allergy.male.count  %></td>
                          <td><%= @heatlhs_screenings.ho_allergy.female.count %></td>
                          <td><%= @heatlhs_screenings.ho_allergy.count %></td>
                        </tr>

                        <tr>
                          <td>16</td>
                          <td width="60%" >HO Hospitalisation</td>
                          <td><%=  @heatlhs_screenings.ho_hospitalisation.male.count  %></td>
                          <td><%= @heatlhs_screenings.ho_hospitalisation.female.count %></td>
                          <td><%= @heatlhs_screenings.ho_hospitalisation.count %></td>
                        </tr>
                        

                        <tr>
                          <td>17</td>
                          <td width="60%" >Dental Problem</td>
                          <td><%=  @heatlhs_screenings.dental_problem.male.count  %></td>
                          <td><%= @heatlhs_screenings.dental_problem.female.count %></td>
                          <td><%= @heatlhs_screenings.dental_problem.count %></td>
                        </tr>
                        
                          <tr>
                          <td>18</td>
                          <td width="60%" >Body nits</td>
                          <td><%=  @heatlhs_screenings.body_nits.male.count  %></td>
                          <td><%= @heatlhs_screenings.body_nits.female.count %></td>
                          <td><%= @heatlhs_screenings.body_nits.count %></td>
                        </tr>
                        
                        <tr>
                          <td>19</td>
                          <td width="60%" >Lice In Hair</td>
                          <td><%=  @heatlhs_screenings.lice_in_hair.male.count  %></td>
                          <td><%= @heatlhs_screenings.lice_in_hair.female.count %></td>
                          <td><%= @heatlhs_screenings.lice_in_hair.count %></td>
                        </tr>
                        
                         <tr>
                          <td>20</td>
                          <td width="60%" >Abnormal BMI</td>
                          <td><%=  @heatlhs_screenings.bmi.male.count  %></td>
                          <td><%= @heatlhs_screenings.bmi.female.count %></td>
                          <td><%= @heatlhs_screenings.bmi.count %></td>
                        </tr>
                        
                        <tr>
                          <td>21</td>
                          <td width="60%" >Overweight BMI</td>
                          <td><%=  @heatlhs_screenings.over_bmi.male.count  %></td>
                          <td><%= @heatlhs_screenings.over_bmi.female.count %></td>
                          <td><%= @heatlhs_screenings.over_bmi.count %></td>
                        </tr>
                        <tr>
                          <td>22</td>
                          <td width="60%" >Underweight BMI</td>
                          <td><%=  @heatlhs_screenings.under_bmi.male.count  %></td>
                          <td><%= @heatlhs_screenings.under_bmi.female.count %></td>
                          <td><%= @heatlhs_screenings.under_bmi.count %></td>
                        </tr>

                         </tbody>

                      </table>
                    </div>

                    <br/>
                   <!--  <div class="table-responsive" style="border:none;">
                 	 <center style="color:black;"><strong><u>SCHOOL HEALTH SESSION</u></strong></center>

                      <table class="table table-striped" id="stripedTable">
                        <thead>
                        </thead>
                        <tr>
                          <td width="60%">Topic & Discussion</td>
                          <td colspan="3"><div class="row">
                              <div class="col-md-12" style="border-bottom: 1px solid black; padding: 2px;"><center>Participants</center></div>
                              <div class="col-md-4" style=" padding: 2px;">M</div>
                              <div class="col-md-4" style="border-left: 1px solid black; padding: 2px;">F</div>
                              <div class="col-md-4" style="border-left: 1px solid black; padding: 2px;">Total</div>

                          </div></td>
                        </tr>
                        <tr>
                         
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>

                        <tr>
                         
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                         
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>

                        <tr>
                         
                          <td>Remarks:</td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>

                      </table>
                      </div> -->
                       <div class="table-responsive" style="border:none;">
                      <center style="color:black;"><strong><u>DETAILS OF ENVIRONMENT ASSESMENTS</u></strong></center>
                      <table class="table table-striped" id="stripedTable">
                        <thead>
                        <th>Sr No.</th>
                        <th width="60%">Condition</th>
                        <th>Good</th>
                        <th>Satisfactory</th>
                        <th>Poor</th>
                        </thead>
                        <tbody>
                        <tr>
                          <td>1</td>
                          <td width="60%" >Condition Of buidling</td>
                          <td><%=  @environment_assessments.condition_of_building_good.count  %></td>
                          <td><%= @environment_assessments.condition_of_building_satisfactory.count %></td>
                          <td><%= @environment_assessments.condition_of_building_poor.count %></td>
                        </tr>
                        
                        <tr>
                          <td>2</td>
                          <td width="60%" >Cleanliness Of School Environment</td>
                          <td><%=  @environment_assessments.cleanliness_of_school_environment_good.count  %></td>
                          <td><%= @environment_assessments.cleanliness_of_school_environment_satisfactory.count %></td>
                          <td><%= @environment_assessments.cleanliness_of_school_environment_poor.count %></td>
                        </tr>

                        
                        <tr>
                          <td>3</td>
                          <td width="60%" >Classroom Space Adequacy</td>
                          <td><%=  @environment_assessments.class_room_space_adequacy_good.count  %></td>
                          <td><%= @environment_assessments.class_room_space_adequacy_satisfactory.count %></td>
                          <td><%= @environment_assessments.class_room_space_adequacy_poor.count %></td>
                        </tr>

                        
                        <tr>
                          <td>4</td>
                          <td width="60%" >Availability Of Safe Drinking Water</td>
                          <td><%=  @environment_assessments.availability_of_safe_drinking_water_good.count  %></td>
                          <td><%= @environment_assessments.availability_of_safe_drinking_water_satisfactory.count %></td>
                          <td><%= @environment_assessments.availability_of_safe_drinking_water_poor.count %></td>
                        </tr>

                        
                        <tr>
                          <td>5</td>
                          <td width="60%" >Sanitary Condition Of Toilets</td>
                          <td><%=  @environment_assessments.sanitary_condition_of_toilets_good.count  %></td>
                          <td><%= @environment_assessments.sanitary_condition_of_toilets_satisfactory.count %></td>
                          <td><%= @environment_assessments.sanitary_condition_of_toilets_poor.count %></td>
                        </tr>

                        
                        <tr>
                          <td>6</td>
                          <td width="60%" >Drainage Condition</td>
                          <td><%=  @environment_assessments.drainage_condiiton_good.count  %></td>
                          <td><%= @environment_assessments.drainage_condiiton_satisfactory.count %></td>
                          <td><%= @environment_assessments.drainage_condiiton_poor.count %></td>
                        </tr>

                        
                        <tr>
                          <td>7</td>
                          <td width="60%" >Waste Management</td>
                          <td><%=  @environment_assessments.waste_management_good.count  %></td>
                          <td><%= @environment_assessments.waste_management_satisfactory.count %></td>
                          <td><%= @environment_assessments.waste_management_poor.count %></td>
                        </tr>

                        
                        <tr>
                          <td>8</td>
                          <td width="60%" >Canteen and Food Quality</td>
                          <td><%=  @environment_assessments.cantain_and_food_quality_good.count  %></td>
                          <td><%= @environment_assessments.cantain_and_food_quality_satisfactory.count %></td>
                          <td><%= @environment_assessments.cantain_and_food_quality_poor.count %></td>
                        </tr>


                         </tbody>

                      </table>
                    </div>
                    
                  </div>
                </div>
          </div>
    </div>
</div>_