<div class="container-fluid container-fixed-lg">
            <div class="row">
              <div class="col-md-10 col-offset-md-2">
                <!-- START PANEL -->
                <div class="panel panel-transparent">
                  <div class="panel-heading">
                    <div class="panel-title">Monthly School Visit Report
                    </div>
                    <div class="tools">
                      <a class="collapse" href="javascript:;"></a>
                      <a class="config" data-toggle="modal" href="#grid-config"></a>
                      <a class="reload" href="javascript:;"></a>
                      <a class="remove" href="javascript:;"></a>
                    </div>
                  </div>
                  <div class="panel-body" >
                    <div class="table-responsive" style="border:none;">
                      <table class="table table-striped" id="stripedTable">
                        <thead>
                        </thead>
                        <tr>
                          <td>Date</td>
                          <td><%= Date.today %></td>
                          <td>Name of Sh & NS</td>
                          <td><%= "_________" %></td>
                          <td>Contact No</td>
                          <td><%= "Contact No" %></td>
                        </tr>
                        <tr>
                         
                          <td>Name of U.C/ Tehsil No</td>
                          <td><%= "_______" %></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      </table>
                      </div>
                      <br/>
                      <div class="table-responsive" style="border:none;">
                      <table class="table table-striped" id="stripedTable">
                        <thead>
                       
                        </thead>
                        <tbody>
                        <tr style="font-size: 13px !important;
                        color: black;
                        font-weight: bold;
                        text-align: center;">
                          <td >Sr No.</td>
                          <td width="60%">Indicators</td>
                          <td colspan="3"><div class="row">
                              <div class="col-md-12" style="border-bottom: 1px solid black; padding: 2px;"><center>Numbers</center></div>
                              <div class="col-md-4" style=" padding: 2px;">M</div>
                              <div class="col-md-4" style="border-left: 1px solid black; padding: 2px;">F</div>
                              <div class="col-md-4" style="border-left: 1px solid black; padding: 2px;">Total</div>

                          </div></td>
                        </tr>
                       
                        <tr>
                          <td>1</td>
                          <td width="60%" >Total No. of School Visited/Month</td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                        </tr>

                        <tr>
                          <td>2</td>
                          <td width="60%" >Total No. of Children Screened/Month</td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                        </tr>

                        <tr>
                          <td>3</td>
                          <td width="60%" >Total No. of Children Referred/Month</td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                        </tr>


                        <tr>
                          <td>4</td>
                          <td width="60%" >Total No. of Followup Cases/Month</td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                          <td><%= "__" %></td>
                        </tr>

                        <tr>
                          <td>5</td>
                          <td width="60%" colspan="3">Total No. of Health Education Sessions Conducted/Month</td>
                          <td><%= "__" %></td>
                        </tr>

                         </tbody>

                      </table>
                    </div>
                      <br/>
                      <div class="table-responsive" style="border:none;">
                      <center style="color:black;"><strong><u>DETAILS OF HEALTH ISSUES IDENTIFIED</u></strong></center>
                      <table class="table table-striped" id="stripedTable">
                        <thead>
                       
                        </thead>
                        <tbody>
                        <tr style="font-size: 13px !important;
                        color: black;
                        font-weight: bold;
                        text-align: center;">
                          <td colspan="3">Anemia</td>
                          <td colspan="3">Eye/ Visiion Problems</td>
                          <td colspan="3">Eye/ Hearing Problems</td>
                          <td colspan="3">Dental Problems</td>
                          <td colspan="3">Skin Problems</td>
                          <td colspan="3">Any Other Problem</td>
                          <td colspan="3">Evidence of Trauma/ Physical Injuries</td>
                        </tr>
                       
                        <tr>
                          <td>M</td>
                          <td style="border-left: 1px solid black;">F</td>
                          <td style="border-left: 1px solid black;">Total</td>

                          <td style="border-left: 1px solid black;">M</td>
                          <td style="border-left: 1px solid black;">F</td>
                          <td style="border-left: 1px solid black;">Total</td>

                          <td style="border-left: 1px solid black;">M</td>
                          <td style="border-left: 1px solid black;">F</td>
                          <td style="border-left: 1px solid black;">Total</td>

                          <td style="border-left: 1px solid black;">M</td>
                          <td style="border-left: 1px solid black;">F</td>
                          <td style="border-left: 1px solid black;">Total</td>

                          <td style="border-left: 1px solid black;">M</td>
                          <td style="border-left: 1px solid black;">F</td>
                          <td style="border-left: 1px solid black;">Total</td>

                          <td style="border-left: 1px solid black;">M</td>
                          <td style="border-left: 1px solid black;">F</td>
                          <td style="border-left: 1px solid black;">Total</td>

                          <td style="border-left: 1px solid black;">M</td>
                          <td style="border-left: 1px solid black;">F</td>
                          <td>Total</td>
                        </tr>
                      <tr>
                        <td></td>
                          <td style="border-left: 1px solid black;"></td>
                          <td style="border-left: 1px solid black;"></td>

                          <td style="border-left: 1px solid black;"></td>
                          <td style="border-left: 1px solid black;"></td>
                          <td style="border-left: 1px solid black;"></td>

                          <td style="border-left: 1px solid black;"></td>
                          <td style="border-left: 1px solid black;"></td>
                          <td style="border-left: 1px solid black;"></td>

                          <td style="border-left: 1px solid black;"></td>
                          <td style="border-left: 1px solid black;"></td>
                          <td style="border-left: 1px solid black;"></td>

                          <td style="border-left: 1px solid black;"></td>
                          <td style="border-left: 1px solid black;"></td>
                          <td style="border-left: 1px solid black;"></td>

                          <td style="border-left: 1px solid black;"></td>
                          <td style="border-left: 1px solid black;"></td>
                          <td style="border-left: 1px solid black;"></td>

                          <td style="border-left: 1px solid black;"></td>
                          <td style="border-left: 1px solid black;"></td>
                          <td></td>
                        </tr>
                         </tbody>

                      </table>
                    </div>
                    <br/>
                     <div class="table-responsive" style="border:none;">
                      <table class="table" id="stripedTable">
                        <thead>
                        </thead>
                        <tr>
                          <td width="60%"></td>

                          <td>Signature</td>
                          <td><%= "________"%></td>
                        </tr>

                        <tr>
                          <td width="60%"></td>
                          
                          <td colspan="2">School Health & Nutrition Supervisor</td>
                        </tr>


                        <tr>
                          <td width="60"><%= ""%></td>

                          <td>Date</td>
                          <td><%= "________"%></td>
                        </tr>

                        
                      </table>
                      </div>
                  </div>
                </div>
          </div>
    </div>
</div>_