 <div class="container-fluid container-fixed-lg">
            <div class="row">
              <div class="col-md-10 col-offset-md-2">
                <!-- START PANEL -->
                <div class="panel panel-transparent">
                  <div class="panel-heading">
                    <div class="panel-title">School Data
                    </div>
                    <div class="tools">
                      <a class="collapse" href="javascript:;"></a>
                      <a class="config" data-toggle="modal" href="#grid-config"></a>
                      <a class="reload" href="javascript:;"></a>
                      <a class="remove" href="javascript:;"></a>
                    </div>
                  </div>
                  <div class="panel-body">
                    <div class="table-responsive">
                      <table class="table table-striped" id="stripedTable">
                        <thead>
                          <tr>
                            <!-- NOTE * : Inline Style Width For Table Cell is Required as it may differ from user to user
												Comman Practice Followed
												--> 
                             <th style="width:10%">Name</th>
                            <th style="width:50%">Latitude</th>
                            <th style="width:40%">Longitude</th>
                            <th style="width:40%">Last Visited</th>
                            <th style="width:40%">Trauma/ Physical Injuries</th>
                            <th style="width:40%">BMI</th>
                            <th style="width:40%">Anemia</th>
                            <th style="width:40%">Physical Deformities</th>
                            <th style="width:40%">Physical Deformities</th>
                            <th style="width:40%">Hearing Problem</th>
                            <th style="width:40%">Ear Problem</th>
                            <th style="width:40%">Vision</th>
                            <th style="width:40%">Respiratory Infection</th>
                            <th style="width:40%">Skin Problem</th>
                            <th style="width:40%">Boundry Walls And Gate</th>
                            <th style="width:40%">Electricity playground</th>
                            <th style="width:40%">Clean Classes And Toilets</th>
                            <th style="width:40%">Clean Floors</th>
                            <th style="width:40%">Janitors</th>
                            <th style="width:40%">Ventilation</th>
                            <th style="width:40%">Tables And CHairs</th>
                            <th style="width:40%">Fans</th>
                            <th style="width:40%">Fountains</th>
                            <th style="width:40%">Clean Water</th>
                            <th style="width:40%">Adequate Supply</th>
                            <th style="width:40%">Functional Toilets</th>
                            <th style="width:40%">Numbers of Toilets</th>
                            <th style="width:40%">Soap Water in Toilets</th>
                            <th style="width:40%">Drainage</th>
                            <th style="width:40%">Functional Drainage</th>
                            <th style="width:40%">Waste Managment</th>
                            <th style="width:40%">Waste Managment Activity Frequency</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% @sheet.each do |row| %>
                            <tr>
                            <% row.each do |col| %>
                              <td class="v-align-middle semi-bold">
                                <p><%= col %></p>
                              </td>
                            <% end %>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!-- END PANEL -->
              </div>
              <div class="col-md-12">
                 <dir class="col-md-12">
                  <%= form_tag reports_schools_path(format: "xlsx") , :multipart => true ,role: "form",method: :get, novalidate: "novalidate", autocomplete: "off", id: "form-personal" do %>
                     <%= hidden_field_tag "district", params[:district] %>
                     <%= hidden_field_tag "tehsil", params[:tehsil] %>
                     <%= hidden_field_tag "school", params[:school] %>
                     <%= hidden_field_tag "range", params[:range] %>
                     <%= hidden_field_tag "cols", params[:cols].join(',') %>
                     <%= hidden_field_tag "cols_health", params[:cols_health].join(',') %>
                     <%= hidden_field_tag "cols_env", params[:cols_env].join(',') %>
                  <button class="btn btn-primary" type="submit">Export</button>
                     
                  <% end %>

              </div>
            </div>
          </div>